{% extends 'moviedatabase/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/setting.css' %}">
	<form action="" method="POST">
		<div class="background">
			<table class="name-table">
				<tr>
					<th></th>
					<th>名称</th>
				</tr>
				<tr>
					<th class="right">ボーカル名</th>
					<td>{{ form.name }}</td>
				</tr>
				<tr>
					<th class="right">
						ボーカル名カナ</span>
					</th>
					<td>{{ form.name_kana }}</td>
				</tr>
			</table>
			{% csrf_token %}
			<div class="submit-banner">
				<div class="submit-banner-inner">
					<div class="submit-content">
						<div class="submit-form-status">
							{% for field, errors in form.errors.items %}
								{% for error in errors %}
									<p>{{ error }} (Error in {{ field }})</p>
								{% endfor %}
							{% endfor %}
						</div>
						<button onclick="submit();" class="submit-button">登録</button>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}