{% extends 'moviedatabase/base.html' %}

{% block content %}
<div id="station-search-area">
	<div id="upload-GET" val=""></div>
	<div class="station-list-container" style="display: flex;">
		<div>駅名<br><textarea name="station-list" cols="10" rows="10" id="station-name-list">{{ station_text }}</textarea></div>
		<div>路線名<br><textarea name="station-list" cols="10" rows="10" id="line-name-list">{{ line_text }}</textarea></div>
	</div>
	<input type="button" class="station-search" value="駅検索">
	<ul id="station-query-ul">
	</ul>
</div>
{% endblock %}

{% load static %}
{% block extrajs %}
<script type="text/javascript" src="{% static 'moviedatabase/encoding.js' %}"></script>
<script type="text/javascript">
	$(function() {
		s = $('#station-name-list').val()
		if (s != "") {
			textbox_station_search();
		}
	})

	$('.station-search').on('click', textbox_station_search)

	function textbox_station_search() {
		s = $('#station-name-list').val()
		l = $('#line-name-list').val()
		station_search(s, l);
	}

	function station_search(station_text, line_text) {
		s = station_text.replace("'", "|").split('\n')
		l = line_text.replace(/\t/g, "-").replace("'", "|").split('\n')

		$.each(s, function(i, val) {
			lval = (l[i]) ? lval = l[i].replace(' ', '-') : ""
			list = "<li id='station-query-li-" + i + "' class='station-query-li' data-station='" + val + "' data-line='" + lval + "'>"
			list += "<h4 class='query-content'>" + val + " - " + lval + "</h4>";
			list += "<ul class='station-result-ul' style='padding: 4px 0px 16px 8px;'></ul>";
			$('#station-query-ul').append(list);
		})

		$.each($('.station-query-li'), function(i, val) {
			station = $(val).data("station")
			if (station == "") {
				return true;
			}
			line = $(val).data("line")
			console.log(line)

			if (line == "" || line == undefined) {
				var s = "/api/stationsearch/" + station + "/?format=json&exact=1";
			} else {
				var s = "/api/stationwithlinesearch/" + station + "/" + line + "?format=json";
			}
			
			$('.station-select').empty();
			$.getJSON(s, function(data) {
				for (var i in data) {
					pk = data[i].station_service_pk
					str = data[i].__str__
					line_service_name = data[i].line_service_name
					f_or_s = data[i].line_service_f_or_s
					line_name = data[i].line_name
					text = ""
					if (line_service_name != line_name) {
						text = str + " ‐ " + line_service_name + f_or_s + "(" + line_name + ")"
					} else {
						text = str + " ‐ " + line_service_name + f_or_s
					}
					op_station = "<option value='" + pk + "' data-name='" + str + "' data-line='" + line_service_name + "' class='station-option' title='" + text + "'>" + text +  "</option>"
					$(val).children('.station-result-ul').append(op_station)
				}
			})
		})
	}
</script>
{% endblock %}