{% extends 'moviedatabase/base.html' %}

{% block title %}マイページ{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/mypage.css' %}">

<!-- <div class="background" style="background: url(https://i.ytimg.com/vi/{{ movie.youtube_id }}/hqdefault.jpg) no-repeat center; background-size: cover; background-attachment: fixed;"> -->
<div class="background" style="background: #ffe3cb;">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="main-container">
		<div class="mypage-header">
			<p class="fullname">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</p>
			<p class="username">ユーザー名：{{ user.username }}</p>
		</div>
		<table class="profile-table">
			<tr>
				<th>メールアドレス</th>
				<td class="weight-normal">{% if user.email %}{{ user.email }}{% else %}登録なし{% endif %}</td>
			</tr>
			<tr>
				<th>作者情報</th>
				<td>
					{% if user.creator %}
						<a href="{% url 'moviedatabase:movielistbycreator' user.creator.pk %}" class="creator-color">{{ user.creator.name }}</a>
						<br><a href="{% url 'moviedatabase:register' %}">＜動画登録＞</a>
					{% elif user.creator_applied %}
						申請済み
					{% else %}
						登録なし <a href="{% url 'moviedatabase:accountandcreatorapplication' %}">＜申請はこちら＞</a>
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>情報登録・編集可能チャンネル</th>
				<td>
					{% if user.all_can_edit_channel.all %}
						<ul class="channel-list">
							{% for c in user.all_can_edit_channel.all %}
								<li class="weight-normal"><a href="{% url 'moviedatabase:movielistbychannel' c.pk %}">{{ c.name }}</a></li>
							{% endfor %}
						</ul>
					{% else %}
						登録なし
					{% endif %}
				</td>
			</tr>
			{% load tz %}
			<tr>
				<th>最終ログイン日時</th>
				<td class="weight-normal">{{ user.last_login|timezone:'Asia/Tokyo'|date:"Y年n月j日 H:i:s" }}</td>
			</tr>
			<tr>
				<th>初回ログイン日時</th>
				<td class="weight-normal">{{ user.date_joined|timezone:'Asia/Tokyo'|date:"Y年n月j日 H:i:s" }}</td>
			</tr>
		</table>
		<div class="updateinformation-container">
			<h3 class="updateinformation-header">編集履歴</h3>
			<ul class="updateinformation-list">
				{% for i in updateinformations %}
				<li class="updateinformation">
					<p class="updateinformation-upper">{{ i.reg_date|timezone:'Asia/Tokyo'|date:"Y/n/j - H:i:s" }}　<span>動画{{ i.get_is_create_display }}</span></p>
					<p class="updateinformation-lower">
						{% if i.movie.main_id %}
						<a href="{% url 'moviedatabase:detail' i.movie.main_id %}">{{ i.movie }}</a>
						{% else %}
						{{ i.movie }}
						{% endif %}
					</p>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}