{% extends 'moviedatabase/base.html' %}

{% block title %}{{ region }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/objectlist.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">{{ region }}</div>
			<div class="detail-name-sub"></div>
			<div class="sub-name">
			</div>
			<div class="under-color railway-background">
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="object-list">
				{% if region.country == "日本" %}
				<h4 class="object-list-header railway-border">都道府県</h4>
				<ul class="object-list-ul-block">
				{% for pref in prefs %}
					<li class="object-list-li-block">
						<a href="{% url 'moviedatabase:lineservicelistbyprefecture' pref.pk  %}" class="railway-background white-color">{{ pref }}</a>
					</li>
				{% endfor %}
				</ul>
				{% endif %}
				<h4 class="object-list-header railway-border">事業者</h4>
				<ul class="object-list-ul">
				{% for company in company_list %}
					<li class="object-list-li">
						<a href="{% url 'moviedatabase:lineservicelistbycompany' company.pk %}" class="railway-color">{{ company }}</a>
					</li>
				{% endfor %}
				</ul>
				{% include 'moviedatabase/includes/pagination.html' %}
			</div>
			<div class="detail-side">
			</div>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}