{% extends 'moviedatabase/base.html' %}

{% block title %}{{ station }} - {{ station.line }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/railway/movielistbyrailway.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="railway-header">
		<div class="railway-header-content">
			<span class="detail-category station-background">駅</span>
			<span class="detail-category white-background">正式区間</span>
			{% if station.line.company.short_text %}<div class="company-link"><a href="{% url 'moviedatabase:lineservicelistbycompany' station.line.company.pk %}">{{ station.line.company.short_text }}</a></div>{% endif %}
			<div class="main-name">
				{{ station.name }}
				{% if station.status_text %}
				<span class="main-name-small">{{ station.status_text }}</span>
				{% endif %}
			</div>
			<div class="main-name-sub">{{ station.name_kana }}</div>
			<div class="sub-name white-background sub-name-station">
				<div class="sub-name-inner">
					<div class="sub-link">
						<a href="{% url 'moviedatabase:movielistbyline' station.line.pk %}" class="black-color">
							<span class="line-name-small">{{ station.line.company.short_text }}</span>
							<span>{{ station.line.name }}</span>
							{% if station.line.name_sub %}
							<span class="line-name-small">({{ station.line.name_sub }})</span>
							{% endif %}
							{% if station.line.status_text %}
							<span class="line-name-small">{{ station.line.status_text }}</span>
							{% endif %}
						</a>
					</div>
					<div class="station-before">
						{% if station.prev_station %}
							<a href="{% url 'moviedatabase:movielistbystation' station.prev_station.pk %}" class="black-color">＜ {{ station.prev_station }}</a>
						{% endif %}
					</div>
					<div class="station-after">
						{% if station.next_station %}
							<a href="{% url 'moviedatabase:movielistbystation' station.next_station.pk %}" class="black-color">{{ station.next_station }} ＞</a>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="under-color black-background"></div>
			<div class="line-bottom">
				{% for stationservice in stationservices %}
				<div>
					<a href="{% url 'moviedatabase:movielistbystationservice' stationservice.pk %}">
						{{ stationservice.name }}
						{% if stationservice.status_text %}
						<span class="line-name-small">{{ stationservice.status_text }}</span>
						{% endif %}
					</a>
					 - 
					<a href="{% url 'moviedatabase:movielistbylineservice' stationservice.line_service.pk %}">
						<span>{{ stationservice.line_service.name }}</span>
						{% if stationservice.line_service.name_sub %}
						<span class="line-name-small">({{ stationservice.line_service.name_sub }})</span>
						{% endif %}
						{% if stationservice.line_service.f_or_s %}
						<span class="line-name-small">{{ stationservice.line_service.f_or_s }}</span>
						{% endif %}
						{% if stationservice.line_service.status_text %}
						<span class="line-name-small">{{ stationservice.line_service.status_text }}</span>
						{% endif %}
					</a>
				</div>
				{% endfor %}
				</div>
			<div class="pref-list">
				{% if stationservice.station.pref %}
				<a href="{% url 'moviedatabase:lineservicelistbyprefecture' station.pref.pk %}">{{ station.pref }}</a>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="railway-movie-list">
				<h4 class="movie-list-header station-border">動画一覧</h4>
				{% include 'moviedatabase/includes/movielist.html' %}
				{% include 'moviedatabase/includes/pagination.html' %}
			</div>
			<div class="railway-side">
				<h4 class="side-header">乗換路線</h4>
				<ul class="station-lines-ul">
				{% if transfers %}
				{% for station in transfers %}
					<li class="station-li">
						<div class="transfer-line-formal">
							<a href="{% url 'moviedatabase:movielistbyline' station.line.pk %}">
								<span class="line-name-small">{{ station.line.company.short_text }}</span>
								<span>{{ station.line.name }}</span>
								{% if station.line.name_sub %}
								<span class="line-name-small">({{ station.line.name_sub }})</span>
								{% endif %}
								{% if station.line.status_text %}
								<span class="line-name-small">{{ station.line.status_text }}</span>
								{% endif %}
							</a>
						</div>
					</li>
				{% endfor %}
				{% else %}
					<p>乗換路線はありません</p>
				{% endif %}
				</ul>
			</div>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}