{% extends 'moviedatabase/base.html' %}

{% block title %}アップデート情報{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/notice.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">アップデート情報</div>
			<div class="detail-name-sub"></div>
			<div class="sub-name">
			</div>
			<div class="under-color movie-background">
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="notice">
				<ol class="article">
					<li>
						<h2>駅名動画データベース アップデート情報</h2>
						<p>駅名動画データベースへの日頃のご支援、ありがとうございます。駅名動画データベースのプレ公開から約1年が経ちました。2021年6月1日をもって、本公開とさせていただきます。これに伴い、今後の方針とそれに向けた動きを固めていきましたので、アップデート情報としてお知らせいたします。</p>
					</li>
					<li>
						<h2>カテゴリー区分の変更</h2>
						<h3>動画などのカテゴリーの種類を見直します。</h3>
						<p>歌唱対象のカテゴリーは「鉄道（駅名）」「バス路線（バス停名）」「その他交通」「その他」の4種類に絞ります。また、動画としてのカテゴリーは、「記憶」「替え歌」「その他」の3種類で固定します。</p>
						<p>動画で歌われている歌唱対象のカテゴリーと、その動画自身のカテゴリーを組み合わせて、「駅名記憶」「駅名替え歌」「バス停名記憶」などとなります。</p>
					</li>
					<li>
						<h2>ロゴ・サイトデザイン</h2>
						<h3>ロゴを導入し、サイトデザインの調整を行いました。</h3>
						<div style="text-align: center;">
							<img src="{% static 'moviedatabase/base/logo.png' %}">
						</div>
						<p>ロゴを導入しました。駅名標に再生マークを置き、駅名が動画となって流れるイメージを抽象化しています。</p>
						<p>サイトのデザインも軽微ながら調整しました。</p>
					</li>
					<li>
						<h2>ログイン機能追加</h2>
						<h3>ログイン機能を追加し、Googleアカウント認証を導入しました。</h3>
						<p>現在、会員登録機能はありませんが、お持ちのGoogleアカウントでログインすることが可能です。</p>
						<p>別途申請すると、アカウントには作者情報を紐づけることができます。（詳しくは改めてお知らせいたします。）</p>
					</li>
					<li>
						<h2>フリーワード検索機能追加</h2>
						<h3>フリーワード検索の機能を追加し、様々なジャンルを同時に検索できるようになりました</h3>
						<p>フリーワード検索で、動画（タイトル名・概要文）、駅名、曲名などの複数のジャンルの検索を同時にできるようになり、検索の幅を広げました。</p>
					</li>
					<li>
						<h2>編集機能試験公開</h2>
						<h3>運営以外もデータベースの動画情報を登録・編集できます。</h3>
						<p>試験的に、アカウントに紐づけられた作者のチャンネルに投稿された動画を、データベース上で登録・編集できる機能を駅名動画作者様向けに公開します。</p>
						<p>この機能を利用するには申請が必要です。</p>
					</li>
					<li>
						<h2>「鉄道から探す」の機能見直し</h2>
						<h3>検索機能などを、現存する鉄道路線に主に限定します。</h3>
						<p>鉄道データを、現在運用されている日本国内の鉄道路線のみで、基本的に固定とします。</p>
						<p>本システムは、動画に登場する駅などを探しやすくするために、事前にデータベースに登録した鉄道データと動画情報を紐づける形をとっています。</p>
						<p>プレ公開では、動画登録作業の際に、データベースにない駅や路線などが見つかった場合に、その都度、鉄道データを更新する方式をとっていました。しかし、この方法は煩雑で手間がかかるため、長期的な観点から適切ではないと判断しました。</p>
						<p>そのため、これらの作業を見直し、データベース上にない駅などが登場した場合でも、内部の鉄道データは更新しません。代わりに、あらかじめ区分された広めの種別の情報を挿入する形にいたします。</p>
						<p>なお、新駅が開業した場合などには鉄道データは更新されます。</p>
					</li>
					<li>
						<h2>「楽曲から探す」の機能見直し</h2>
						<h3>アーティスト・曲一覧を廃止し、キーワード検索のみに絞ります。</h3>
						<p>プレ公開では、曲とアーティストの情報を、楽曲データとしてデータベース上に蓄積していく方式をとっていました。しかし、この方法では柔軟性に欠ける上、煩雑であるため、長期的な観点から適切ではないと判断しました。</p>
						<p>そのため、これらの作業を見直し、動画情報の中に、楽曲情報として曲名とアーティスト名をテキストで登録する方式にします。楽曲検索はキーワード検索のみとし、そのキーワードを含む楽曲情報を持っている動画を一覧で表示する形式とします。</p>
					</li>
					<li>
						<h2>利用規約、プライバシーポリシーの施行</h2>
						<h3>利用規約及びプライバシーポリシーを施行しました。</h3>
						<p><a href="{% url 'moviedatabase:terms' %}">利用規約</a>および<a href="{% url 'moviedatabase:privacy' %}">プライバシーポリシー</a>を制定し、施行しました。詳細はリンク先をお読みください。</p>
					</li>
					<li>
						<h2>FANBOXでの支援</h2>
						<h3>pixivFANBOXにてご支援の受付を開始します。</h3>
						<p>駅名動画データベースの運営活動に賛同していただいている方に対し、金銭的な応援ができる場所を設けます。</p>
						<p>支援者向けの限定コンテンツは現在ありません。なお、将来的に限定コンテンツを用意する可能性がありますが、内容の公平性を期すため、データベースの本質的な内容に差異が出るものには致しません。</p>
					</li>
					<li>
						<h2>鉄道情報更新</h2>
						<h3>過去約1年分の鉄道情報の変化を、データベース上に反映しました。</h3>
						<p>詳細は、以下の通りです。</p>

						<div class="station-update-container">
							<google-sheets-html-origin>
		<table class="station-update">
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;JR北海道&quot;}">JR北海道</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;函館本線&quot;}">函館本線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;廃駅&quot;}">廃駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;伊納&quot;}">伊納</td>
			</tr>
			<tr>
				<th></th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;釧網本線&quot;}">釧網本線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;廃駅&quot;}">廃駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;南斜里&quot;}">南斜里</td>
			</tr>
			<tr>
				<th></th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;石北本線&quot;}">石北本線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;廃駅&quot;}">廃駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;北日ノ出、将軍山、東雲、生野&quot;}">北日ノ出、将軍山、東雲、生野</td>
			</tr>
			<tr>
				<th></th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;宗谷本線&quot;}">宗谷本線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;廃駅&quot;}">廃駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;南比布、北比布、東六線、北剣淵、下士別、北星、南美深、紋穂内、豊清水、安牛、上幌延、徳満&quot;}">南比布、北比布、東六線、北剣淵、下士別、北星、南美深、紋穂内、豊清水、安牛、上幌延、徳満</td>
			</tr>
			<tr>
				<th></th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;日高本線&quot;}">日高本線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;廃止&quot;}">廃止</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;鵡川～様似&quot;}">鵡川～様似</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;札幌市交通事業振興公社&quot;}">札幌市交通事業振興公社</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;札幌市電&quot;}">札幌市電</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;会社移管&quot;}">会社移管</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;札幌市（交通局）→札幌市交通事業振興公社&quot;}">札幌市（交通局）→札幌市交通事業振興公社</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;JR東日本&quot;}">JR東日本</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;奥羽本線&quot;}">奥羽本線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;新駅&quot;}">新駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;泉外旭川（秋田～土崎 間）&quot;}">泉外旭川（秋田～土崎 間）</td>
			</tr>
			<tr>
				<th></th>
				<td></td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;廃駅&quot;}">廃駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;赤岩&quot;}">赤岩</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;秋田内陸縦貫鉄道&quot;}">秋田内陸縦貫鉄道</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;秋田内陸線&quot;}">秋田内陸線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;駅名改称&quot;}">駅名改称</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;阿仁前田→阿仁前田温泉&quot;}">阿仁前田→阿仁前田温泉</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;秋田臨海鉄道&quot;}">秋田臨海鉄道</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;全線&quot;}">全線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;廃止&quot;}">廃止</td>
				<td></td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;ひたちなか海浜鉄道&quot;}">ひたちなか海浜鉄道</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;湊線&quot;}">湊線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;新駅&quot;}">新駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;美乃浜学園（平磯～磯崎 間）&quot;}">美乃浜学園（平磯～磯崎 間）</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;秩父鉄道&quot;}">秩父鉄道</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;三ヶ尻線&quot;}">三ヶ尻線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;廃止&quot;}">廃止</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;熊谷貨物ターミナル～三ヶ尻 間&quot;}">熊谷貨物ターミナル～三ヶ尻 間</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;東武&quot;}">東武</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;東上線&quot;}">東上線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;新駅&quot;}">新駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;みなみ寄居（東武竹沢～男衾 間）&quot;}">みなみ寄居（東武竹沢～男衾 間）</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;西武&quot;}">西武</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;多摩湖線・山口線&quot;}">多摩湖線・山口線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;駅名改称&quot;}">駅名改称</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;西武遊園地→多摩湖&quot;}">西武遊園地→多摩湖</td>
			</tr>
			<tr>
				<th></th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;山口線&quot;}">山口線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;駅名改称&quot;}">駅名改称</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;遊園地西→西武園ゆうえんち&quot;}">遊園地西→西武園ゆうえんち</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;えちごトキめき鉄道&quot;}">えちごトキめき鉄道</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;日本海ひすいライン&quot;}">日本海ひすいライン</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;新駅&quot;}">新駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;えちご押上ひすい海岸（糸魚川～梶屋敷 間）&quot;}">えちご押上ひすい海岸（糸魚川～梶屋敷 間）</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;富山地鉄&quot;}">富山地鉄</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;2系統（正式路線：呉羽線）&quot;}">2系統（正式路線：呉羽線）</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;駅名改称&quot;}">駅名改称</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;富山トヨペット本社前（五福末広町）→トヨタモビリティ富山 Gスクエア五福前（五福末広町）&quot;}">富山トヨペット本社前（五福末広町）→トヨタモビリティ富山 Gスクエア五福前（五福末広町）</td>
			</tr>
			<tr>
				<th></th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;富山港線&quot;}">富山港線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;新駅&quot;}">新駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;オークスカナルパークホテル富山前（富山駅～インテック本社前 間）&quot;}">オークスカナルパークホテル富山前（富山駅～インテック本社前 間）</td>
			</tr>
			<tr>
				<th></th>
				<td></td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;新駅&quot;}">新駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;龍谷富山高校前（永楽町）（インテック本社前～奥田中学校前 間）&quot;}">龍谷富山高校前（永楽町）（インテック本社前～奥田中学校前 間）</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;大井川鉄道&quot;}">大井川鉄道</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;大井川本線&quot;}">大井川本線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;駅名改称&quot;}">駅名改称</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;五和→合格&quot;}">五和→合格</td>
			</tr>
			<tr>
				<th></th>
				<td></td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;新駅&quot;}">新駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;門出&quot;}">門出（合格～神尾 間)</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;阪急&quot;}">阪急</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;神戸高速線&quot;}">神戸高速線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;駅名改称&quot;}">駅名改称</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;三宮→神戸三宮&quot;}">三宮→神戸三宮</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;神戸市交通局&quot;}">神戸市交通局</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;北神線&quot;}">北神線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;会社移管&quot;}">会社移管</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;北神急行電鉄→神戸市（交通局）&quot;}">北神急行電鉄→神戸市（交通局）</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;琴電&quot;}">琴電</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;琴平線&quot;}">琴平線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;新駅&quot;}">新駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;伏石（三条～太田 間）&quot;}">伏石（三条～太田 間）</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;阿佐海岸鉄道&quot;}">阿佐海岸鉄道</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;牟岐線/阿佐東線&quot;}">牟岐線/阿佐東線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;会社移管&quot;}">会社移管</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;JR四国 牟岐線→阿佐海岸鉄道 阿佐東線&quot;}">JR四国 牟岐線→阿佐海岸鉄道 阿佐東線</td>
			</tr>
			<tr>
				<th data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;土佐くろしお鉄道&quot;}">土佐くろしお鉄道</th>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;阿佐線&quot;}">阿佐線</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;新駅&quot;}">新駅</td>
				<td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;あき総合病院前（球場前～安芸 間）&quot;}">あき総合病院前（球場前～安芸 間）</td>
			</tr>
		</table></google-sheets-html-origin>
		</div>

					</li>
					<li>
						<h2>その他</h2>
						<h3>その他、いくつかの更新を行いました。</h3>
						<ul>
							<li>URLが「http://www.stanmic.com」から「http://stanmic.com」に変更されました。（以前のアドレスでアクセスした場合、新アドレスに自動移行するので、ブックマーク等の変更は必要ありません。）</li>
							<li>2020年7月1日～2021年5月31日までの間に参入申請フォームに回答いただいた方たちの作者情報を登録しました。（該当者には連絡済みです。）</li>
							<li>編集機能試験公開への準備に伴い、テストデータとして、<a href="{% url 'moviedatabase:movielistbycreator' 3 %}">牛乳豆腐</a>様、<a href="{% url 'moviedatabase:movielistbycreator' 5 %}">とばかい</a>様、<a href="{% url 'moviedatabase:movielistbycreator' 11 %}">ちゅうさん</a>様のご協力により、これら作者様の駅名動画情報を登録しました。</li>
						</ul>
					</li>

				</ol>
				<p class="terms-p">2021年6月1日 運営：にぐなぐIC</p>
			</div>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}