{% extends 'stationdata/base.html' %}

{% block title %}駅 編集{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'stationdata/register.css' %}">

<h2>駅 路線変更</h2>
<div class="main-container">
	<form action="" method="POST">
		{{ formset.management_form }}
		<div class="station-form-container">
			<table>
				{{ form.as_table }}
			</table>
		</div>
		{% csrf_token %}
		<button type="submit" class="btn">送信</button>
	</form>
</div>
{% endblock %}

{% block extrajs %}
{% endblock %}