{% extends 'moviedatabase/base.html' %}

{% block title %}路線 - {{ company }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/objectlist.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">{{ company }}</div>
			<div class="detail-name-sub">路線一覧</div>
			<div class="sub-name">
			</div>
			<div class="under-color line-background">すべて
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="object-list">
				<ul class="object-list-ul">
				{% for l in lineservice_list %}
					<li class="object-list-li">
						<a href="{% url 'moviedatabase:movielistbylineservice' l.pk 'pub' 'n' %}" class="line-color">{{ l }}</a>
					</li>
				{% endfor %}
				{% include 'moviedatabase/includes/pagination.html' %}
				</ul>
			</div>
			<div class="detail-side">
				<h4 class="side-header">所在地</h4>
				<li class="side-list-li">
					{% for pref in prefs %}
						<a href="{% url 'moviedatabase:lineservicelistbycompanyandprefecture' company.pk pref.pk %}" class="line-color">{{ pref }}</a>
					{% endfor %}
				</li>
				{% if can_edit %}
				<a href="{% url 'stationdata:lineregister' company.pk %}">路線追加</a><br>
				<a href="{% url 'stationdata:lineserviceregister' company.pk %}">路線[運行系統]追加</a><br>
				<a href="{% url 'stationdata:lineserviceeditbycompany' company.pk %}">路線[運行系統]編集</a>
				{% endif %}
			</div>
		</div>
	</div>
	<small>&copy; 2020 nignagIC</small>
</div>
{% endblock %}