{% extends 'moviedatabase/base.html' %}

{% block title %}路線 - {{ category }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/objectlist.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">{{ category }}</div>
			<div class="detail-name-sub">路線一覧</div>
			<div class="sub-name">
			</div>
			<div class="under-color line-background">すべて
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="object-list">
				<ul class="object-list-ul">
				{% for l in lineservice_list %}
					<li class="object-list-li">
						<a href="{% url 'moviedatabase:movielistbylineservice' l.pk 'pub' 'n' %}" class="line-color">{{ l }}</a>
					</li>
				{% endfor %}
				{% include 'moviedatabase/includes/pagination.html' %}
				</ul>
			</div>
			<div class="detail-side">
				<h4 class="side-header line-border">地域から探す</h4>
				<ul class="side-list-ul">
					{% for region in japan_regions %}
					<li class="side-list-li">
						<a href="{% url 'moviedatabase:companylistbyregion' region.pk category.pk %}" class="line-color">{{ region }} <small>{{ region.country }}</small></a>
					</li>
					{% endfor %}
				</ul>
				{% if foreign_regions %}
				<h4 class="side-header line-border">日本以外から探す</h4>
				<ul class="side-list-ul">
					{% for region in foreign_regions %}
					<li class="side-list-li">
						<a href="{% url 'moviedatabase:companylistbyregion' region.pk category.pk %}" class="line-color">{{ region }}{% if region.name != region.country.name %} <small>{{ region.country }}</small>{% endif %}</a>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>
	</div>
	<small>&copy; 2020 nignagIC</small>
</div>
{% endblock %}