{% extends 'moviedatabase/base.html' %}

{% block title %}{{ line }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/railway/movielistbyrailway.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="railway-header">
		<div class="railway-header-content">
			<span class="detail-category line-background">路線</span>
			<span class="detail-category white-background">正式区間</span>
			<div class="main-name">{{ line }}</div>
			<div class="main-name-sub">読み方</div>
			<div class="sub-name white-background">
				{{ line.start_station }} ～ {{ line.end_station }}
			</div>
			<div class="under-color black-background"></div>
			<div class="line-bottom">
				{% for lineservice in lineservices %}
				<div>
					<a href="{% url 'moviedatabase:movielistbylineservice' lineservice.pk sort order %}">{{ lineservice }}</a>
				</div>
				{% endfor %}
			</div>
			<div class="pref-list">
				{% for pref in line.pref_codes.all %}
					<a href="{% url 'moviedatabase:lineservicelistbyprefecture' pref.pk %}">{{ pref }}</a>
					{% if forloop.last %}
					{% else %}
						<span>/</span>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<a href="{% url 'moviedatabase:railwaytop' %}">路線一覧へ戻る</a>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="railway-movie-list">
				<h4 class="movie-list-header line-border">動画一覧</h4>
				{% include 'moviedatabase/includes/movielist.html' %}
				{% include 'moviedatabase/includes/pagination.html' %}
			</div>
			<div class="railway-side">
				<h4 class="side-header">駅一覧</h4>
				<ul class="station-list-ul">
					{% for station in stations %}
						<li class="station-list-li black-border">
							<a href="{% url 'moviedatabase:movielistbystation' station.pk sort order %}">
								<div class="li-station-info white-background">
									<div class="station-name">{{ station }}</div>
								</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<small>&copy; 2020 nignagIC</small>
</div>
{% endblock %}