{% extends 'moviedatabase/base.html' %}

{% block title %}路線などから探す{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/objectlist.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">鉄道などから探す</div>
			<div class="detail-name-sub"></div>
			<div class="sub-name">
			</div>
			<div class="under-color railway-background">
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="object-list">
				<h4 class="object-list-header line-border">路線検索</h4>
				<div class="search-container">
					<form action="{% url 'moviedatabase:lineservicesearch' %}" method="get" class="search-form">
						<input type="textbox" name="word" class="search-box" value="{{ word }}">
						<button class="search-button" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<h4 class="object-list-header station-border">駅検索</h4>
				<div class="search-container">
					<form action="{% url 'moviedatabase:stationservicesearch' %}" method="get" class="search-form">
						<input type="textbox" name="word" class="search-box" value="{{ word }}">
						<button class="search-button" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<h4 class="object-list-header station-border">歌唱名から動画を検索</h4>
				<div class="search-container">
					<form action="{% url 'moviedatabase:movielistbystationinmoviesearch' %}" method="get" class="search-form">
						<input type="textbox" name="word" class="search-box" value="{{ word }}">
						<button class="search-button" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<h4 class="object-list-header railway-border">都道府県</h4>
				<ul class="object-dict-outer">
				{% for region in regions %}
					<li class="object-dict-outer-li">
						<h5 class="region-header">
							{{ region }}
						</h5>
						<ul class="object-dict-inner">
							{% for pref in region.prefecture_set.all %}
							<li class="object-dict-inner-li">
								<a href="{% url 'moviedatabase:lineservicelistbyprefecture' pref.pk  %}" class="railway-color">{{ pref }}</a>
							</li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
				</ul>
			</div>
			<div class="detail-side">
				<h4 class="side-header railway-border">鉄道以外</h4>
				<ul class="side-list-ul">
					{% for c in belongscategories %}
					<li class="side-list-li">
						<a href="{% url 'moviedatabase:movielistbybelongscategory' c.pk %}" class="railway-color">{{ c }}</a>
					</li>
					{% endfor %}
				</ul>
				<h4 class="side-header movie-border">動画カテゴリー</h4>
				<ul class="side-list-ul">
					{% for c in moviecategories %}
					<li class="side-list-li">
						<a href="{% url 'moviedatabase:movielistbymoviecategory' c.pk %}" class="movie-color">{{ c }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}