{% extends 'moviedatabase/base.html' %}

{% block title %}検索結果 - 駅 - {{ word }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/objectlist.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">{% if word %}{{ word }}{% endif %}</div>
			<div class="detail-name-sub">駅</div>
			<div class="sub-name">
				{% if word %}
					キーワード：{{ word }}
				{% endif %}
			</div>
			<div class="under-color station-background">
				{{ count }}件
			</div>
			<div class="line-bottom">
				<form action="" method="get" class="search-form">
					<input type="textbox" name="word" class="search-box" value="{% if word %}{{ word }}{% endif %}">
					<button class="search-button" type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="object-list">
				<ul class="object-list-ul">
				{% for s in stationservice_list %}
					<li class="object-list-li">
						<a href="{% url 'moviedatabase:movielistbystationservice' s.pk 'pub' 'n' %}" class="station-color">
							<div>{{ s }}</div>
							<div>{{ s.line_service }}</div>
						</a>
					</li>
				{% endfor %}
				{% include 'moviedatabase/includes/pagination.html' %}
				</ul>
			</div>
			<div class="detail-side">
			</div>
		</div>
	</div>
	<small>&copy; 2020 nignagIC</small>
</div>
{% endblock %}