{% extends 'moviedatabase/base.html' %}

{% block title %}アカウント・作者紐づけ申請{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/login.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="login-main-container">
		<h2 class="login-header">アカウント・作者紐づけ申請</h2>
		<div class="login-box">
			ユーザー<span class="railway-color">「{{ user.get_full_name }} ({{ user.username }})」</span>と、<span class="creator-color">{{ creator }}</span>の紐づけ申請を送信します。
			<p class="login-p">申請から3日以内に、本人確認のため本人宛（参入申請で登録したTwitterアカウントのDMまたはメールアドレス）に確認の連絡を送信します。この連絡への確認をもって、申請を受理します。</p>
			<form method="post">
				{% csrf_token %}
				<div class="login-border"></div>
				<p>以降の動画のデータベース上への登録についてお答えください。</p>
				<div style="font-weight: normal;">
					<label><input type="radio" name="dealing" value="admin" checked=""> 引き続き運営にデータベース上への登録を任せる</label><br>
					<label><input type="radio" name="dealing" value="self"> 以降は作者自身がデータベース上に作品を登録する</label>
				</div>
				<div class="button-container">
					<button type="submit">申請</button>
				</div>
			</form>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}