{% extends 'moviedatabase/base.html' %}

{% block title %}アカウント・作者紐づけ申請{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/objectlist.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">アカウント・作者紐づけ申請</div>
			<div class="detail-name-sub"></div>
			<div class="sub-name">
			</div>
			<div class="under-color creator-background">
				ユーザー：{{ user.get_full_name }} ({{ user.username }})
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="object-list">
				<ul class="object-list-ul">
				{% for creator in creators %}
					<li class="object-list-li">
						<a href="{% url 'moviedatabase:accountandcreatorapplicationconfirm' creator.pk %}" class="creator-color">{{ creator }}</a>
					</li>
				{% endfor %}
				</ul>
			</div>
			<div class="detail-side">
			</div>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}
