<ul class="movie-ul">
	{% if movie_list %}
	{% for movie in movie_list %}
	<li class="movie-card">
		<a href="{% url 'moviedatabase:detail' movie.main_id %}">
			<img class="movie-img" src="https://i.ytimg.com/vi/{{ movie.youtube_id }}/hqdefault.jpg">
			<div class="movie-info">
	{% load tz %}
				<p class="movie-published">{{ movie.published_at|timezone:'Asia/Tokyo'|date:"Y/n/j" }}<span class="movie-category">{{ movie.get_is_collab_display  }}</span>{% for c in movie.category %}{% if c %}<span class="movie-category">{{ c }}</span>{% endif %}{% endfor %}</p>
				<p class="movie-title"><span>{{ movie.title }}</span></p>
				<p><span class="movie-channel">{{ movie.channel }}</span><span class="movie-duration"> - {{ movie.get_duration }}</span></p>

				<!-- <p>{% for s in movie.songnew.all %}{{ s }}{% endfor %}</p> -->
			</div>
		</a>
	</li>
	{% endfor %}
	{% else %}
	<p>該当する動画が見つかりませんでした。</p>
	{% endif %}
</ul>