{% extends 'moviedatabase/base.html' %}

{% block title %}{{ niconico }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<span class="detail-category black-background">niconicoアカウント</span>
			<div class="detail-name">{{ niconico }}</div>
			<div class="detail-name-sub">
				<a class="black-color" href="https://www.nicovideo.jp/user/{{ niconico.user_id }}" target="_blank">niconicoアカウントに移動 [外部リンク]</a>
			</div>
			<div class="sub-name">
			</div>
			<div class="under-color black-background">
				{{ niconico.creator }}
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="detail-movie-list">
				<h4 class="movie-list-header movie-border">動画一覧</h4>
				{% include 'moviedatabase/includes/movielist.html' %}
				<p>現在ニコニコ動画に対応しておりません。</p>
				{% include 'moviedatabase/includes/pagination.html' %}
			</div>
			<div class="detail-side">
				{% if niconico.creator %}
				<h4 class="side-header creator-border">作者</h4>
				<li class="side-list-li">
					<a href="{% url 'moviedatabase:movielistbycreator' niconico.creator.pk sort order %}" class="creator-color">{{ niconico.creator }}</a>
				</li>
				{% endif %}
			</div>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}