{% extends 'moviedatabase/base.html' %}

{% block title %}{{ name }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<span class="detail-category name-background">名義</span>
			<div class="detail-name">{{ name }}</div>
			<div class="detail-name-sub">
			</div>
			<div class="sub-name">
			</div>
			<div class="under-color name-background">
				{{ name.creator }}
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="detail-movie-list">
				<h4 class="movie-list-header name-border">動画一覧</h4>
				{% include 'moviedatabase/includes/movielist.html' %}
				{% include 'moviedatabase/includes/pagination.html' %}
			</div>
			<div class="detail-side">
				{% if name.creator %}
				<h4 class="side-header creator-border">作者</h4>
				<li class="side-list-li">
					<a href="{% url 'moviedatabase:movielistbycreator' name.creator.pk sort order %}" class="creator-color">{{ name.creator }}</a>
				</li>
				{% endif %}
			</div>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}