{% extends 'moviedatabase/base.html' %}

{% block title %}プライバシーポリシー{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/terms.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">利用規約</div>
			<div class="detail-name-sub"></div>
			<div class="sub-name">
			</div>
			<div class="under-color movie-background">
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="terms">
				<ol class="article">
					<li>
						<h2>はじめに</h2>
						<p>駅名動画データベースの運営者（利用規約の用語参照）は、皆様の個人情報の重要性を認識し、適正な収集、利用、保護を図るとともに、安全管理を行うため、プライバシーポリシーを次の通り定めます。</p>
					</li>
					<li>
						<h2>本サービスで収集しうる情報</h2>
						<p>本プライバシーポリシーにおいて、個人情報とは利用者を含む個人に係る情報であって、特定の個人を識別しうるもの、通信サービス上の行動履歴、またはアクセスしたデバイス等の情報、またはそれに関連して生成または蓄積された情報をいいます。</p>
						<ol>
							<li>
								<p>本プライバシーポリシーに関連した、運営がサービス運営上収集しうるユーザーの情報は、以下のものが該当します。</p>
								<ol>
									<li>会員ID</li>
									<li>パスワード</li>
									<li>ユーザーネーム</li>
									<li>メールアドレス</li>
									<li>生年月日</li>
									<li>性別</li>
									<li>居住都道府県</li>
									<li>外部サービスとの連携において、利用者が利用するID</li>
									<li>外部サービスとの連携において、プライバシー設定によりユーザーが連携先に開示を求めた情報</li>
									<li>その他運営が定める入力フォームにユーザーが入力する任意の情報</li>
								</ol>
							</li>
							<li>
								<p>運営は、本サービスへのアクセス状況やそのご利用方法に関する情報を収集することがあります。これには以下の情報が含まれます。</p>
								<ol>
									<li>端末および使用ソフトウェア情報</li>
									<li>ログ情報</li>
									<li>アクセス元のプロバイダや地域</li>
								</ol>
							</li>
							<li>本サービスに関して、利用者からお問い合わせをいただいた場合、連絡に必要なユーザーに関する情報をご提供いただく場合があります。なお、連絡いただいた際に提供されたユーザー情報に個人情報を含む場合、ご本人の同意を得ずに当該個人情報を第三者に提供することはありません。</li>

（利用目的
個人情報の利用目的は、以下の通りです。
	本サービスにおいてコンテンツをユーザーのデバイス等に送信するため。
	会員登録の申込、および会員の本サービス利用に関する情報の確認のため。
	会員と作者情報の照合のため。
本サービスに関連して、個人を識別できない形式に加工した統計データを作成するため。
本サービスに関するご案内、お問い合わせ等への対応のため。
本サービスに関する利用規約またはプライバシーポリシー、あるいはその両方に違反する行為があった場合、または違反する恐れが生じる場合。
紛争または訴訟等の対応のため。
上記の利用目的に付随する利用目的のため

（第三者への開示・提供
運営は、利用者の同意を得ることなく、ユーザー情報を、本プライバシーポリシーに明示している場合及び以下の場合を除き、開示・提供することはありません。

法令に基づく開示及び提供をする場合
人体の生命、身体または財産の保護のために情報が必要があり、本人の同意を得ることが困難である場合で、開示及び提供する場合
国の機関または地方公共団体またはその委託を受けたものが、法令の定めにより遂行することに協力する必要がある場合であって、本人の同意を得ることによりその遂行に支障を及ぼす恐れがある場合
その他、社会通念上、運営が必要と判断した場合であって、本人の同意を得ることが困難である場合
運営権限の譲渡など、その他の理由で関係する運営事業が承継される場合

（個人情報の開示・訂正・利用停止等
ご本人から個人情報の内容の開示・訂正・利用停止等の請求があった場合は、個人情報保護法に基づき適切に対応いたします。

（プライバシーポリシーの変更
運営は、社会情勢の変化、本サービスのアップデートに応じ、事前の予告なくプライバシーポリシーを変更することがあります。

				</ol>
				<p class="terms-p">2021年6月1日 施行</p>
			</div>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}\