{% extends 'moviedatabase/base.html' %}

{% block title %}動画登録スタートアップガイド{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/update.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">動画登録スタートアップガイド</div>
			<div class="detail-name-sub"></div>
			<div class="sub-name">
			</div>
			<div class="under-color movie-background">
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="guide">
				<ol class="article">
					<li>
						<h2>はじめに</h2>
						<div>
							<p>初めて動画情報を登録・編集する際には、このガイドを見ながら作業していただきますようお願いします。</p>
							<p>初めての場合は作業に10～20分かかる場合があります。慣れてくると、動画の長さ＋2～3分程度で作業が進むようになるかと思います。</p>
						</div>
						<div>
							<p>動画の内容によっては、作業が複雑になる場合があります。まず最初は、現存する路線で現存する駅のみを歌わせた、曲を1曲（フル尺かどうかは問いません）だけ使う、個人の作品（単作）で試すことをおすすめいたします。歌わせている路線は複数あっても構いません。</p>
						</div>
						<div>
							<p>情報はできるだけ正確なものを入れるよう心掛けてください。もし内容の真偽が不明な場合は、その旨を記すか、空欄にするなどで対応してください。</p>
						</div>
						<div>
							<p>Windowsにおける最新版の「Google Chrome」、「Microsoft Edge」での動作を保証しています。</p>
						</div>
					</li>
					<li>
						<h2>大まかな流れ</h2>
					</li>
				</ol>
				<h2>具体的な手順</h2>
				<ol class="article">
					<li>
						<h2>事前確認</h2>
						<h3>「情報登録・編集可能なチャンネル」を確認</h3>
						<p>データベースにログインし、マイページから「情報登録・編集可能なチャンネル」の欄に自分のYouTubeチャンネルがあるか確認します。</p>
						<p>ここには、この時にログインしているアカウントで、動画をデータベース上に登録できるYouTubeチャンネルの一覧が表示されます。</p>
					</li>
					<li>
						<h2>動画登録フォーム</h2>
						<h3>「動画登録フォーム」を開く</h3>
						<p>マイページから「作者情報」にある「動画登録」を押し、「動画登録フォーム」を開きます。</p>
						<h3>動画の情報を取得する</h3>
						<p>「URLまたは動画IDを入力」の欄に、登録したい動画のURLを入力します。</p>
						<div class="supplement">
							<p>動画のURLの形式は、「https://www.youtube.com/watch?v=○○○○」としてください。また、動画IDとは、URLの中の○○○○の部分です。</p>
						</div>
						<p>「動画情報取得」ボタンを押します。</p>
						<p>取得に成功すると、ページ下部に動画の情報が表示されます。</p>
						<div class="supplement">
							<p>取得に失敗すると、エラーメッセージが表示されます。エラーの内容は主に以下のものがあります。</p>
							<ul>
								<li>動画が見つかりませんでした。</li>
								<li>取得に失敗しました。</li>
							</ul>
						</div>
						<h3>動画を登録する</h3>
						<p>「登録」ボタンを押し、次のフォームに移ります。</p>
						<div class="supplement">
							<p>登録に失敗すると、エラーメッセージが表示されます。エラーの内容は主に以下のものがあります。</p>
							<ul>
								<li>既に登録されています。</li>
								<li>登録可能なチャンネルでない</li>
							</ul>
						</div>
					</li>
					<li>
						<h2>動画情報編集フォーム</h2>
						<h3>動画全体の基本情報を入力する</h3>
						<p>ここで重要な情報は、「単合区分」、「使用楽曲(動画全体)」です。</p>
						<div>
							<h4>単合区分</h4>
							<p>単作か合作かを選びます。今回は単作を想定しているので、デフォルトの単作のままです。</p>
						</div>
						<div>
							<h4>使用楽曲(動画全体)</h4>
							<p>作品全体を通して使われている曲を登録します。ここには複数の曲を登録することができます。</p>
							<ol>
								<li>「変更」をクリックし、楽曲設定ウィンドウを開きます。</li>
								<li>「選択済みリスト」が出てきます。最初は空欄です。ここに曲を追加していきます。</li>
								<li>「曲追加」をクリックし、曲追加ウィンドウを開きます。</li>
								<li>曲の情報を入力し、「登録」を押します。曲追加ウィンドウが消え、「選択済みリスト」に曲が追加されます。</li>
								<li>全ての曲が追加し終わったら、「決定」を押して設定ウィンドウを閉じます。</li>
							</ol>
							<p>楽曲登録に関する詳しい情報は、こちらをご覧ください。</p>
							<p>楽曲は、その楽曲を使った動画がデータベース上に存在するしないに関わらず、その都度曲情報を登録し、追加していきます。</p>
							<p>楽曲検索にはキーワード検索の部分一致を使用していることを踏まえて入力するよいかと思います。</p>
						</div>
						<div>
							<h4>その他</h4>
							<p>「親作品」、「関連作品」は、該当する動画がある場合に設定してください。それぞれ以下のようなものが該当します。</p>
							<div>
								<h5>親作品</h5>
								<ul>
									<li>リメイク動画であればリメイク元の動画</li>
									<li>合作単品であれば合作本体の動画</li>
								</ul>
								<h5>関連作品</h5>
								<ul>
									<li>コラボ動画で、コラボ相手が連動して別の動画を出している場合、そのコラボ先の動画</li>
								</ul>
							</div>
							<p>なお、この欄に動画を設定すると、連動して、設定した動画側に作業中の動画が設定されます。</p>
						</div>
						<h3>情報を保存する</h3>
						<p>今回は単作を想定しているので、「パート分けなし（単作など）」ボタンを押して、保存し、次のフォームへ移ります。</p>
					</li>
					<li>
						<h2>駅情報編集フォーム</h2>
						<p>このフォームは、「「プレビューブロック」、「詳細情報ブロック」、「駅検索ブロック」、「登録駅リストブロック」の4つに分かれています。</p>
						<h3>プレビューブロック</h3>
						<p>ここには、作業中の動画本体と、タイトル、概要欄の分が表示されます。ここで、動画を見ながら作業することができます。</p>
						<div class="supplement">
							<p>動画によっては、埋め込み再生できないものがあります。（投稿者が埋め込みを許可していない場合や、著作権ブロックによって権利者が禁止している場合など）その場合は、別途動画をYouTube上で開いてください。</p>
						</div>
						<h3>詳細情報ブロック</h3>
						<p>ここで今回設定する情報は、「種類」、「使用ボーカル」です。</p>
						<div>
							<h4>種類</h4>
							<p>「駅名記憶」か「駅名替え歌」かを選択します。今回は駅名記憶動画を想定しているので、「駅名記憶」を選択します。</p>
							<div class="supplement">
								<p>「その他」は、「○○の駅百選」や「50音順に歌わせてみた」等の動画の際にご使用ください。</p>
							</div>
							<h4>使用ボーカル</h4>
							<p>作品の中で使用されているボーカルを追加します。</p>
							<ol>
								<li>「変更」をクリックし、ボーカル設定ウィンドウを開きます。</li>
								<li>データベースに登録されているボーカルの一覧から、該当するボーカルを探します。</li>
								<li>ボーカルが見つかった場合は、ダブルクリックし、選択済みリストに追加していきます。（複数選択可）</li>
								<li>見つからなかった場合は、「ボーカル追加」ボタンから、名前と読みカナを入力して追加します。</li>
							</ol>
						</div>
						<p>その他</p>
						<ul>
							<li>
								<h4>参加者</h4>
								<p>ここには、この動画（パート）に関わった人を登録します。1人でも複数でも可。</p>
								<p>パート分けなし（単作など）として登録した動画では、参加者の欄に投稿者の名前が自動で追加されています。個人で制作した動画の場合は、このまま変更は必要ありません。</p>
							</li>
							<li>
								<h4>使用楽曲</h4>
								<p>ここには、この動画（パート）で使われている曲を登録します。1つでも複数でも可。</p>
								<p>単作（パート分けなし）として登録した動画では、先ほど「動画情報編集フォーム」で登録した曲が自動で追加されています。もし「未設定」の場合は、「変更」ボタンから同様の操作を行い、曲を追加してください。</p>
							</li>
							<li>
								<h4>補足説明</h4>
								<p>適宜、必要な情報を入力してください。</p>
							</li>
							<li>
								<h4>情報が不完全</h4>
								<p>登録した情報が不完全である場合、チェックを入れてください。途中まで入力したが作業を中断せざるを得なくなった場合や、登録した情報に真偽不明なものがある場合、正しく登録したが駅一覧の表示が崩れている場合などを想定しています。</p>
								<p>チェックする際は、適宜その理由などを「補足説明」欄に記入してください。</p>
							</li>
						</ul>
						<h3>駅検索ブロック/登録駅リストブロック</h3>
						<p>ここで、動画内で歌われている駅を、左側の「駅検索ブロック」で検索し、右側の「登録駅リストブロック」に追加していきます。</p>
						<p>ここでは、「都道府県から」を例に説明します。</p>
						<ol>
							<li>
								<p>まずは、動画の中で最初に歌われている路線を探します。都道府県名をクリックすると、その都道府県内の路線一覧がその右側に出てきます。</p>
							</li>
							<li>
								<p>同様に、路線名をクリックすると、その路線内の駅一覧がその右側に出てきます。</p>
							</li>
							<li>
								<p>最初に歌われている駅を見つけ、そこから下に向かってその路線の中で歌われている駅を複数選択します。</p>
								<div class="supplement">
									<ul>
										<li>
											<p>もし下ではなく上に向かって歌われている駅が並んでいる場合は、「逆順」を押して、下に向かって選択できるように変更してください。</p>
										</li>
										<li>
											<p>途中に廃駅や通過駅が存在するなどで、最初から最後まで歌われている駅と選択した駅が一致しない場合は、キーボードの「Ctrl」(Windowsの場合)を押しながら駅を選ぶことで、個別に選択/解除することができます。</p>
										</li>
										<li>
											<p>路線によっては、駅一覧に同じ駅が連続して並ぶ箇所がある場合があります。この場合は、以下のようにしてください。</p>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<p>「追加」ボタンを押し、右側の「登録駅」リストに追加します。</p>
							</li>
							<li>
								<p>登録した駅の中で、「歌唱名」に入力されている名前が、動画で実際に歌われている駅名と異なる場合には、歌われている駅名に変更します。</p>
								<div class="supplement">
									<p>明治神宮前＜原宿＞</p>
									<p>獨協大学前（草加松原）</p>
								</div>
							</li>
							<li>
								<p>次に歌われている路線を探し、同じ手順を繰り返します。</p>
								<p>登録駅リストの各駅についている、「路線検索」ボタンを押すと、その駅が所属する路線が「駅検索ブロック」に表示されます。ご活用ください。</p>
							</li>
						</ol>
						<h3>駅情報の保存</h3>
						<p>動画の最後の駅まで登録が終わりましたら、「保存」を押し、次のフォームへ移ります。</p>
					</li>
					<li>
						<h2>登録確認フォーム</h2>
						<p>動画情報のプレビューが表示されます。不備や不具合がないかを確認します。</p>
						<p>もし、楽曲情報や駅情報などに間違いや抜けがあったら、「パート編集に戻る」を押し、「パート情報編集フォーム」へ移り、再度登録し直します。</p>
						<div class="supplement">
							<p>ここで表示されるものは、「動画情報編集フォーム」と少し異なりますが、基本的には同じです。</p>
						</div>
						<p>ごくまれに、駅リストの描画が崩れる現象が発生します。こういった事象が発生した場合は、運営に知らせてください。データを収集し、以降のアップデートに役立てます。</p>
						<p>不具合がなければ、「終了」ボタンを押して、登録を完了させてください。お疲れ様でした！</p>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock %}