{% extends 'moviedatabase/base.html' %}

{% block title %}利用規約{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/terms.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">利用規約</div>
			<div class="detail-name-sub"></div>
			<div class="sub-name">
			</div>
			<div class="under-color movie-background">
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="terms">
				<ol class="article">
					<li>
						<h2>はじめに</h2>
						<ol>
							<li>この利用規約（以下、「本規約」といいます。）は、運営者が本サービス上で提供するサービスおよび機能、コンテンツを利用する一切の行為に適用されるものとします。</li>
							<li>本サービス上のコンテンツにアクセスすることにより、アクセスを行ったユーザーは、本規約に従って、本サービスを利用することとします。</li>
							<li>ユーザーは本サービスを利用することにより、以下に記載されている本規約の内容について同意したものとみなされます。</li>
						</ol>
					</li>
					<li>
						<h2>定義</h2>
						<p>本規約において使用する用語の定義は、次の各号に定める通りとします。</p>
						<ol>
							<li>運営とは、「にぐなぐIC（Twitter:<a href="https://twitter.com/nignag_IC">@nignag_IC</a>）」個人並びに、「にぐなぐIC」自身が運営メンバーであると認めた者の全員をいいます。</li>
							<li>本サイトとは、運営者によって運営される「駅名動画データベース」と称するウェブサイトをいいます。</li>
							<li>本サービスとは、本サイト上で提供されるすべてのサービスをいいます。</li>
							<li>コンテンツとは、本サービスにて提供される内容すべてをいいます。</li>
							<li>ユーザとは、本サイトを利用するためにアクセスする者をいいます。</li>
							<li>会員とは、本サイトを利用するために会員登録をしている者をいいます。</li>
							<li>その他の利用規約とは、「利用規約」等の名称の如何に関わらず、本規約以外の規定であって、本サービスの利用条件を定めるものをいいます。</li>
						</ol>
					</li>
					<li>
						<h2>利用資格</h2>
						<p>本サービスは、以下のすべてを満たす方がご利用いただけます。</p>
						<ol>
							<li>駅名動画作品並びにそれを準ずる作品を制作する作者および、それを閲覧する視聴者と、運営が互いに協力して、これからの駅名動画コンテンツを盛り上げていきたいという、本サービスの理念に同意できる方。</li>
							<li>本サービスは、主に「YouTube」(<a href="https://www.youtube.com">https://www.youtube.com</a>)のコンテンツに基づいて構成されているため、このサービスの利用規約に基づいて、13歳以上である方。</li>
							<li>お住まいの国や地域で未成年とみなされるユーザーで、本サービスの利用について親または保護者の許可を得ている方。</li>
							<li>本規約に同意の上継続して遵守できる方</li>
							<li>契約締結について法的な責任能力のある方</li>
						</ol>
						<p>本サービスを会社や組織のために使用することはできないものとします。</p>
					</li>
					<li>
						<h2>本規約の変更</h2>
						<ol>
							<li>運営は、同運営の判断により、本規約およびその他の利用規約をいつでも任意の理由で変更することができるものとします。</li>
							<li>変更後の利用規約は、運営が別途定める場合を除いて、本サイト上に変更を適用した利用規約を表示した時点より効力を生じるものとします。</li>
							<li>ユーザーが、本規約の変更の効力が生じた後に本サービスを利用する場合は、変更後の利用規約のすべての記載内容に同意したものとみなされます。</li>
						</ol>
					</li>
					<li>
						<h2>利用許諾</h2>
						<ol>
							<li>ユーザーは本規約に同意することによって、コンテンツを利用することができます。</li>
							<li>コンテンツの利用は本規約にしたがって非商業利用に限られています。ユーザーは提供されたコンテンツの全部・一部、直接・間接に関わらず、非商業利用以外のいかなる複製、ダウンロード、出版、送信、配信、公衆での表示、レンタル、貸付、改変、派生物の作成、販売、販売への参加、搾取をしてはなりません。非商業利用の範囲内では、本サービスによって明示的に承認されている場合、または各権利所持者が事前に許可している場合を除き、適用されます。</li>
						</ol>
					</li>
					<li>
						<h2>個人情報の取り扱い</h2>
						<p>運営は、本サービスで収集した個人情報について、「プライバシーポリシー」に基づき、適切に取り扱うものとします。</p>
					</li>
					<li>
						<h2>会員登録</h2>
						<ol>
							<li>本サービスへの会員登録を希望する者は、本規約の内容に同意した上で、所定の方法により、入会の申し込みを行うものとします。</li>
							<li>入会の申し込みをした者（以下「入会申込者」といいます。）は、運営が入会の申し込みを承諾した時点で会員となります。また、本サービスと接続している外部認証を用いて、正当な手段で適切なログイン等の操作を行った場合は 、認証された時点で会員となります。</li>
						</ol>
					</li>
					<li>
						<h2>入会申込の不承諾</h2>
						<p>運営は、次の各号のいずれかに該当する場合は、同運営の判断によって、入会申込者の入会申込を承諾しないことがあります。</p>
						<ol>
							<li>入会申込者が、前条第1項の方法に寄らずに入会の申し込みを行った場合。</li>
							<li>入会申込者が、第3条（利用資格）の条件を満たさない場合。</li>
							<li>入会申込者が、運営に対して、入会申込に関連して虚偽の情報を通知していることが明らかな場合。</li>
							<li>入会申込者が、過去に本規約またはその他の利用規約などに違反したことを理由として、次条第2項の強制退会処分を受けたものである場合。</li>
							<li>入会申込者が、反社会的勢力等（暴力団、暴力団員、暴力団関係企業・団体またはその関係者、その他反社会的勢力及びこれらに準じるものをいいます。）に該当する恐れがある、または資金提供その他の方法により反社会的勢力等に協力・関与をしている恐れがあると運営が判断した場合。</li>
							<li>入会申込者が第15条の禁止事項に該当する行為を行う恐れがあると運営が判断した場合。</li>
							<li>その他運営が不適切と判断した場合。</li>
						</ol>
					</li>
					<li>
						<h2>退会</h2>
						<ol>
							<li>ユーザーが退会を希望する場合には、ユーザーは、所定の方法により、運営に退会の申し出を行うものとします。</li>
							<li>
								運営は、ユーザーが次の各号のいずれかの行為を行った場合には、同運営の判断によって、ユーザーを強制的に退会させて本サービスの利用を制限することがあります。
								<ol>
									<li>第7条（会員登録）の方法によらずに入会の申し込みを行ったことが明らかとなった場合。</li>
									<li>入会の申し込みの際に申告した情報に、虚偽があったことが明らかとなった場合。</li>
									<li>本規約またはその他の利用規約等に違反した場合。</li>
									<li>ユーザーが前条5項に掲げるものに該当する恐れがあると運営が判断した場合。</li>
									<li>その他運営が不適切と判断した場合。</li>
								</ol>
							</li>
						</ol>
					</li>
					<li>
						<h2>自己のアカウントの情報管理</h2>
						<ol>
							<li>ユーザーは、自分の管理に属する使用可能なメールアドレスを登録メールアドレスとして登録しなければならず、当該登録メールアドレスが自己の管理に属さなくなった時には、自己の管理に属する使用可能な別のメールアドレスに変更しなければならないものとします。</li>
							<li>メールアドレス認証以外の方法で会員登録をした会員は、その外部アカウントが自分の管理に属する使用可能なものであることを確認しなければならない。当該登録アカウントが自己の管理に属さくなった時には、自己の管理に属する使用可能な別のアカウントを利用し、再登録しなければならないものとします。</li>
							<li>ユーザーは、自己の登録メールアドレスおよびパスワードの不正利用の防止に努めるとともに、その管理について一切の責任を持つものとします。</li>
							<li>登録メールアドレスやパスワードが第三者によって利用されたことによって生じた損害等については、運営に重過失がある場合を除き、同運営はいかなる責任も負わないものとします。</li>
						</ol>
					</li>
					<li>
						<h2>アカウントの保有に関する制限</h2>
						<ol>
							<li>ユーザーは一人につき一つのアカウントを保有するものとします。一人が複数のアカウントを保有すること、複数人が一つのアカウントを共同して保有することはできません。ただし、運営が別に認めたものを除きます。</li>
							<li>ユーザーはいかなる場合においても、アカウントを第三者に譲渡または貸与することはできません。</li>
						</ol>
					</li>
					<li>
						<h2>利用環境の整備</h2>
						<ol>
							<li>ユーザーは、本サービスを利用するために必要なあらゆる機器、ソフトウェア、通信手段を自己の責任と費用において、適切に整備するものとします。</li>
							<li>ユーザーは自己の利用環境に応じて、コンピュータウィルスの感染の防止、不正アクセスおよび情報漏洩の防止などのセキュリティ対策を講じるものとします。</li>
							<li>運営はユーザーの利用環境について一切関与せず、また一切の責任を負いません。</li>
						</ol>
					</li>
					<li>
						<h2>ユーザーの責任</h2>
						<ol>
							<li>ユーザーは、ユーザー自身の責任において本サービスを利用するものとし、本サービスに関連して行った一切の行為及びその結果について、ユーザー自身が一切の責任を負います。</li>
							<li>本サービスを利用してユーザー、特に会員となっているユーザーが登録した本サービス上の情報に関する責任は、ユーザー自身にあります。運営は、ユーザーが本サービスを利用して登録した情報の内容について、一切の責任を負いません。</li>
							<li>ユーザーが他人の名誉を棄損した場合、プライバシー権を侵害した場合、許諾なく第三者の個人情報を開示した場合、著作権法に違反する行為を行った場合、その他他人の権利を侵害した場合には、当該ユーザーは自身の責任と費用において解決しなければならず、運営は一切の責任を負いません。</li>
						</ol>
					</li>
					<li>
						<h2>情報の取り扱い</h2>
						<p>本サービスのすべてのコンテンツについて運営には永久的な保存義務がないことを確認し、運営の判断または過失によって本サービス上のコンテンツの一部が改変・損失した場合におけるユーザーの損害について、一切の責任を負わないものとします。</p>
					</li>
					<li>
						<h2>禁止事項</h2>
						<p>ユーザーは本サービスを利用する間、次のいかなる行為を行わないことに同意します。</p>
						<p>禁止事項に違反する、もしくは違反する可能性があると運営が判断した場合には、運営は、強制退会、利用停止、情報の全部もしくは一部の削除等の不利益な措置をとることがあります。</p>
						<ol>
							<li>本サービスまたは運営、または第三者の著作権、商標権等の知的財産権を侵害する行為、または侵害する恐れのある行為。</li>
							<li>本サービスまたは運営、または第三者の財産、プライバシーもしくは肖像権を侵害する行為、または侵害する恐れのある行為。</li>
							<li>本サービスまたは運営、または第三者を不当に差別もしくは誹謗中傷し、他者への不当な差別を助長し、またはその名誉もしくは信用を毀損する行為。</li>
							<li>自分以外の人物を名乗ったり、代表権や代理権がないにもかかわらずあるものと装ったり、または他の人物や組織と提携、協力関係にあると偽って本サービスを利用する行為。</li>
							<li>詐欺、規制薬物の濫用、児童売買春、預貯金口座及び携帯電話の違法な売買、公共交通等の不正乗車や不正利用、他者の用地への不法侵入などの犯罪に結びつく、または結びつく恐れのある行為。</li>
							<li>自身以外の動画に関する情報に対し、制作者（音源、動画の制作者など、制作にかかわったすべての者）の許可を得ず、不正に改変・削除などの行為を行うこと。</li>
							<li>故意に、本サービスの特性等を悪用し、検索結果ならびにコンテンツの内部の情報を荒らす行為。</li>
							<li>明らかに本サービスの趣旨と合致していないと判断できる動画を本サービスのコンテンツとして登録する行為。</li>
							<li>
								登録する情報のうち、次に掲げる内容の情報のうちいずれかを含ませる行為。
								<ol>
									<li>自己または第三者によって制作された作品、または本サービスに登録された情報を誹謗中傷する内容の情報。</li>
									<li>氏名、住所、勤務先、電話番号など個人を特定しうる内容の情報（自らの情報も含む）。複数の情報と照らし合わせることで個人を特定しうる場合を含む。</li>
									<li>真否についての事実確認が困難な内容や虚偽の内容の情報。</li>
									<li>公的機関へ届け出るべき事項に関する内容の情報。</li>
									<li>商業用の広告、宣伝または勧誘を目的とする情報。ただし、運営が別に認めたものを除く。</li>
									<li>無限連鎖講、チェーンメール、MLM、リードメールなど他人を勧誘する内容の情報。</li>
									<li>金融機関の口座番号を含む情報。</li>
									<li>アダルトサイト、ワンクリック詐欺サイト、ウィルスなどの有害なコンピュータプログラムを流布させることを目的とするサイト等、運営が不適切と判断するサイトに誘導する情報。これは、単にリンクを貼る行為を含む。</li>
									<li>特定の人種、民族、国籍、出身地、性別、信条に対する差別的言動を含む情報。</li>
									<li>特定の情報を販売することを目的とした情報及び情報を販売するウェブサイトへ誘因する情報。</li>
									<li>その他運営が不適切と判断する内容の情報。</li>
								</ol>
							</li>
							<li>一人が複数のアカウントを保有する行為又は複数人が1つのアカウントを共同して保有する行為。ただし、運営が別に認めたものを除く。</li>
							<li>本規約に違反し、運営により強制退会対応を受けたものが新たにユーザーアカウントを保有する行為。</li>
							<li>事前に許可された範囲を超えて、本サービス内の管理者ページや個人ページ、または公開を許可されていないコンテンツにアクセスする行為、またはしようとする行為。</li>
							<li>本サービスのいずれかの部分を迂回、無効化、不正利用、またはその他の方法で妨害すること、すなわち不正にアクセスすること（またはこれらのいずれかを試みること）。この「本サービスのいずれかの部分」には、セキュリティ関連の機能、またはコンテンツのコピーもしくはその他の利用方法を防止もしくは制限する機能、もしくは本サービスの利用を制限する機能が含まれます。</li>
							<li>自動化された手段（ロボット、ボットネット、スクレーパなど）を使用して本サービスにアクセスすること。ただし、運営が事前に許可している場合を除きます。</li>
							<li>ユーザーの意向を無視した宣伝または営利目的で本サービスまたはコンテンツを利用したり、一方的な勧誘や大量の勧誘を行ったりするために本サービスを使用すること。</li>
							<li>本サービス上で、または本サービスを通して、運営に無断でコンテスト等のイベントを実施すること。</li>
							<li>本サービスを利用して、(a)運営が許可したものを除き、本サービスまたはコンテンツ上、その周囲、もしくはその内部で何らかの広告、スポンサーシップ、プロモーションを販売すること、または(b)以下のいずれかの該当する広告、スポンサーシップ、プロモーションを販売すること。(i)本サービスからの取得したコンテンツのみで構成されたウェブサイトまたはアプリケーションのページに掲載される広告、スポンサーシップ、もしくはプロモーションの販売、もしくは(ii)本サービスからのコンテンツを主な根拠とする広告、スポンサーシップ、もしくはプロモーションの販売。</li>
							<li>上記に定める権利侵害が包含された情報を故意に送信または投稿する行為。</li>
							<li>公序良俗に反する行為、または法令等に違反する行為。</li>
							<li>本サービスを利用して、第三者に対する誹謗、中傷、損害を与える行為。</li>
							<li>本サービスのデータ本体及びバックアップの保存場所を特定する行為、および不正にアクセスする行為。</li>
							<li>本サービスのネットワークまたはシステム等に故意に過度な負荷をかける行為。</li>
							<li>本サービスの運営の妨げになると運営が判断した行為。</li>
							<li>本サービスの他のユーザーの情報を収集する行為。</li>
							<li>その行為が前各号のいずれかに該当することを知りつつ、その行為を冗長する目的があると判断できる行為。</li>
							<li>運営、本サービスの他のユーザー、またはその他第三者に不利益、損害となる行為、または社会的に不適切な行為。</li>
							<li>その他、運営が不適切と判断する行為。</li>
						</ol>
					</li>
					<li>
						<h2>コンテンツの権利</h2>
						<ol>
							<li>本サービスを利用して情報の登録をするユーザーは、運営に対し、当該の情報が第三者の権利を侵害していないことを保証するものとします。万一、第三者との間で何らかの紛争が発生した場合には、当該ユーザーの費用と責任において問題を解決するとともに、運営に何等の迷惑または損害を与えないものとします。</li>
							<li>動画コンテンツそのものを除く、運営がまとめた鉄道に関わるデータ、楽曲に関わるデータ、それらを動画コンテンツと結びつけるデータ等一切のコンテンツに関する著作権、意匠権、商標権、所有権、その他一切の知的財産権は、全て運営に帰属します。ただし、運営の許可がある場合はこの限りではありません。</li>
						</ol>
					</li>
					<li>
						<h2>コンテンツの使用許諾等</h2>
						<ol>
							<li>本サービス上に登録された動画等の情報の権利（著作権及び著作者人格権等の周辺権利）は、制作者（音源、動画の制作など、編集行為に携わったすべての者）に帰属します。</li>
							<li>運営は、ユーザーが登録した動画に関する情報を、本サービスの円滑な提供、構築、改良、メンテナンスに必要な範囲内で、使用することができるものとします。</li>
							<li>運営が前項に定める形で情報を使用するにあたっては、情報の一部または制作者名表示を省略できるものとします。</li>
						</ol>
					</li>
					<li>
						<h2>保証</h2>
						<p>運営は、本サービスの内容を更新した場合、ユーザーが本規約にしたがって本サービスを継続する選択肢を提供するものとします。但しこの規定は、運営が本サービスを定期的に更新することを保証するものではありません。</p>
					</li>
					<li>
						<h2>情報の閲覧</h2>
						<ol>
							<li>運営は、ユーザーが登録した情報を含む、本サービスに保存されているすべての情報を閲覧することができるものとします。</li>
							<li>運営は、次に掲げる場合には、該当する情報の内容や本サイト上に保存しているその他の情報を第三者に閲覧させたり、保存させたり、第三者に開示すること（以下、「閲覧等」といいます。）ができるものとします。運営は、それによって生じたいかなる損害についても、一切責任を負いません。</li>
							<li>
								運営が当該情報を登録等したユーザーに宛てて閲覧等の同意を求める連絡をした場合であって、次の各号に掲げるいずれかに該当するとき。
								<ol>
									<li>当該ユーザーが閲覧等に同意したとき。</li>
									<li>運営が閲覧等の同意を求める連絡を送信してから7日以内に、これを拒否する旨の当該ユーザーの回答が運営の閲覧可能な場所に到達しなかったとき。ただし、緊急時などやむを得ない事由が生じたときは除く。</li>
									<li>本サービスの技術的不具合の原因を解明し、解消するため必要な場合。</li>
								</ol>
							</li>
							<li>裁判所や警察などの公的機関から、法令等に基づく正式な照会を受けた場合。</li>
							<li>本規約またはその他の利用規約等に違反する行為又はその恐れのある行為が行われ、登録された情報の内容を確認する必要が生じたと運営が判断した場合。</li>
							<li>人の生命、身体及び財産などに差し迫った危険があり、緊急の必要性があると運営が判断した場合。</li>
							<li>その他本サイトを適切に運営するために必要な場合。</li>
						</ol>
					</li>
					<li>
						<h2>アクセス履歴</h2>
						<ol>
							<li>本サービスは、会員登録の有無にかかわらず、全ユーザーのアクセスした本サービス上のページおよびその時間、場所、使用しているデバイスやソフトウェアを記録し、本サービスの内部または外部に保存できるものとします。</li>
							<li>運営は、技術的問題が発生した場合の解決手段等、本サービスの円滑な提供、構築、改良、メンテナンスに必要な範囲内で、このアクセス履歴情報を使用することができるものとします。</li>
						</ol>
					</li>
					<li>
						<h2>免責</h2>
						<ol>
							<li>運営は、ユーザーの活動に私的な範囲を超えて関与しません。万一ユーザー間の紛争があった場合でも、当該ユーザー間で解決するものとし、運営はその責任を負いません。</li>
							<li>運営は、本サービスの内容の追加、変更、または本サービスの中断、終了によって生じたいかなる損害についても、一切責任を負いません。アクセス過多、その他予期せぬ要因で表示速度の低下や傷害などが生じた場合も同様とします。</li>
							<li>運営は、ユーザーによって操作される情報を監視したり、保存する義務を負いません。</li>
							<li>運営は、ユーザーによって操作される情報の合法性、道徳性、信頼性、正確性について責任を負いません。</li>
							<li>運営は、本規約またはその他の利用規約等に違反する行為又はその恐れのある行為が行われたと信じるに足りる相当な理由があると判断した場合には、当該行為を行ったユーザーの強制退会処分、情報の全部もしくは一部の削除等を行う場合がありますが、それによって生じたいかなる損害についても、一切責任を負いません。</li>
							<li>本サービスの中から他のウェブサイトやリソースへのリンクをしたり、第三者が他のウェブサイトやリソースへのリンクを提供している場合があります。この場合、運営は当該サイトやリソースを管理しておりませんので、本サービス外のサイトやリソースの利用（使用）可能性及び利用したことによって生じた結果については責任を有しておりません。</li>
							<li>運営は、今できることを、合理的な努力のもとに本サービスに還元できることに努めており、運営はサービスに関し、いかなる法定の状況、保証、および商品性、品質についての満足、特定の目的のための適合性、正確性、および第三者の権利の非侵害の状況に対して、いかなる保証や条件から免責されるものとします。本サービスの運営は連続した、または欠陥のないものであることを保証せず、またはサービスの欠陥を正すことを保証していません。</li>
							<li>運営は本サービスに掲載された情報の正確性を更新または改良する合理的な努力を行いますが、運営は本サービスを通じてまたは本サービス上にて利用できるいかなる情報の正確性、完全性、即時性、品質または信頼性を確保することができず、いかなる保証または表示を行いません。運営は本サービスに掲載された情報における欠陥や脱落を含む、運営または本サービスにおけるユーザーのアクセス、利用、または信頼から派生したまたは結びついた、直接・間接的に、招いたかもしれない、いかなる損害や損失のための、いかなるまたは全責任については特に免責されます。</li>
							<li>運営は本サービスを今できることをもって提供し、データおよび情報の損失または破損、欠陥を起因とするエラーまたは不正確を起こさないことを保証しません。ユーザーは本サービスを利用する前にコンピュータや端末、周辺機器のデータや情報すべてをバックアップするべきであります。本サービスのいかなる利用はユーザー単独のリスクであると、ユーザーは明示的に認め同意します。法律により拡大された許可でも、運営はアップロードされたコンテンツにアクセスできないことを含め、サービスの利用に関して責任を負いません。</li>
							<li>運営は、ユーザーが第15条記載の禁止行為を行ったことにより、ユーザー、本サービスの他の利用者または第三者が被った損害につき、賠償する責任を一切負わないものとします。</li>
							<li>運営は、本サービス上で明示された動作環境以外における本サービスに利用については、一切保証いたしません。</li>
							<li>本サービスに関連して、ユーザーと本サービスの他のユーザーとの間、またはユーザーと第三者間において生じた取引、連絡、紛争等については、運営は一切の責任を負いません。</li>
							<li>ユーザーは適法に獲得されたコンテンツのためのみにこれら本サービスを利用することに同意するものとします。いかなる違法なコンテンツの利用は他人の権利を侵害し、著作権侵害、金銭的損害を含む、民事刑事の罰則を負うかもしれません。</li>
						</ol>
					</li>
					<li>
						<h2>運営の情報改変・削除権限</h2>
						<p>運営は、次に掲げる場合には、情報の違法性・規約違反の有無にかかわらず、関連する情報について、その全部もしくは一部の削除または改変などの不利益な措置を行うことができるものとします。</p>
						<ol>
							<li>公的な機関又は専門家（国、地方公共団体、特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律のガイドラインに規定された信頼性確認団体、インターネット・ホットライン、弁護士等をいいます）から、情報について、違法、公序良俗違反または他人の権利を侵害するなどの指摘または意見表明があった場合。</li>
							<li>権利者と称する者から、情報が自分の権利を侵害する旨の申告があった場合。ただし、権利者と称する者から、権利者であることを合理的に判断できる資料を提示され、運営にて慎重に検討した結果、権利者であると称するものが権利者である可能性があると運営が判断した場合に限ります。</li>
							<li>登録された情報が第三者の著作権その他の権利を侵害すると運営が判断した場合。</li>
							<li>情報に関して運営より行われた対応要請連絡に対し、ユーザーの対応が確認されない状態が一定期間継続した後、その状態が本サービスの不利益となると運営が判断した場合。</li>
						</ol>
					</li>
					<li>
						<h2>譲渡禁止</h2>
						<p>ユーザーは、本規約に基づく権利を第三者に譲渡し、または売買、名義変更、質権の設定その他担保に供する行為はできないものとします。</p>
					</li>
					<li>
						<h2>利用の中止</h2>
						<p>運営は、ユーザーが以下の各号に該当する場合、事前に通知および催告をすることなく本サービスの利用を中止することができるものとします。</p>
						<ol>
							<li>利用者が本規約に違反した場合</li>
							<li>その他、本サービスを利用中止にするための正当な理由がある場合</li>
						</ol>
					</li>
					<li>
						<h2>サービスの変更・中断</h2>
						<p>運営はユーザーの本サービス利用において連続した、欠陥のないものであることを保証、表明いたしません。利用者は下記の1、2に従い、都度運営は不確定の時期に本サービスを中断する場合があることに同意するものとします。運営は本サービスが損害、破損、攻撃、ウイルス、干渉、ハッキング、その他セキュリティ侵入から担保されていると保証または表明をいたしません。運営はそれらに関連するいかなる責任から免責されます。</p>
						<ol>
							<li>
								運営は、以下の各号に該当する場合、ユーザーに事前に通知することなく本サービスの一部または全部を変更または中断する場合があります。
								<ol>
									<li>緊急保守等本サービスにおけるシステムの運営上やむを得ない場合</li>
									<li>天災、地変、その他の非常事態により、本サービスの提供ができなくなった場合</li>
									<li>その他、本サービスの運営上、運営が必要と判断した場合</li>
								</ol>
							</li>
							<li>運営は、上記の規定により本サービスを中断したことによる損害については、一切責任を負わないものとします。</li>
						</ol>
					</li>
					<li>
						<h2>サービスの変更または終了</h2>
						<ol>
							<li>運営は、本サービスの内容を、利用者に事前に通知することなく変更ができるものとします。</li>
							<li>運営は、本サービス上での3日前の事前の通知の上で、特段の理由なく、本サービスの一部または全部を終了することができるものとします。</li>
						</ol>
					</li>
					<li>
						<h2>分離可能性</h2>
						<p>本規約のいずれかの条項が、適用法令により無効、不法または執行不能と判断された場合であっても、本規約の残りの規定の有効性、適法性、執行可能性は、いかなる影響を受けないものとします。</p>
					</li>
					<li>
						<h2>準拠法</h2>
						<p>本サービスの利用並びに本規約の解釈については、日本国の法律を準拠法とします。また、本規約に起因し、または関連する一切の紛争については、日本国の札幌地方裁判所を第一審の専属管轄裁判所とします。</p>
					</li>
				</ol>
				<p class="terms-p">2021年6月1日 施行</p>
			</div>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}\