{% extends 'moviedatabase/base.html' %}

{% block title %}作者から探す - {{ kana }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/notice.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">お知らせ</div>
			<div class="detail-name-sub"></div>
			<div class="sub-name">
			</div>
			<div class="under-color movie-background">
			</div>
			<div class="line-bottom">{{ object.head }}
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="notice">
				{% autoescape off %}
					{{ object.text }}
				{% endautoescape %}
			</div>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}