{% extends 'moviedatabase/base.html' %}

{% block title %}{{ vocal }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<span class="detail-category vocal-background">ボーカル</span>
			<div class="detail-name">{{ vocal }}</div>
			<div class="detail-name-sub">
				{{ vocal.name_kana }}
			</div>
			<div class="sub-name">
			</div>
			<div class="under-color vocal-background">
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="detail-movie-list">
				<h4 class="movie-list-header vocal-border">動画一覧</h4>
				{% include 'moviedatabase/includes/movielist.html' %}
				{% include 'moviedatabase/includes/pagination.html' %}
			</div>
			<div class="detail-side">
			</div>
		</div>
	</div>
	<small>&copy; 2020 nignagIC</small>
</div>
{% endblock %}