{% extends 'moviedatabase/base.html' %}

{% block title %}楽曲一覧 - {{ artist }} - {{ kana }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/objectlist.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">{{ artist }}</div>
			<div class="detail-name-sub">楽曲一覧</div>
			<div class="sub-name">
			</div>
			<div class="under-color song-background">{{ kana }}
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="object-list">
				<div class="initial-list">
					<div class="initial-col">
					</div>
					<div class="initial-row">
					</div>
				</div>
				<ul class="object-list-ul">
				{% for song in song_list %}
					<li class="object-list-li">
						<a href="{% url 'moviedatabase:movielistbysong' song.pk 'pub' 'n' %}" class="song-color">{{ song }}</a>
					</li>
				{% endfor %}
				</ul>
				{% include 'moviedatabase/includes/pagination.html' %}
			</div>
			<div class="detail-side">
			</div>
		</div>
	</div>
	<small>&copy; 2020 nignagIC</small>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		rk = {
			'a': ['ア', 'イ', 'ウ', 'エ', 'オ', ''],
			'k': ['カ', 'キ', 'ク', 'ケ', 'コ', ''],
			's': ['サ', 'シ', 'ス', 'セ', 'ソ', ''],
			't': ['タ', 'チ', 'ツ', 'テ', 'ト', ''],
			'n': ['ナ', 'ニ', 'ヌ', 'ネ', 'ノ', ''],
			'h': ['ハ', 'ヒ', 'フ', 'ヘ', 'ホ', ''],
			'm': ['マ', 'ミ', 'ム', 'メ', 'モ', ''],
			'y': ['ヤ', '', 'ユ', '', 'ヨ', ''],
			'r': ['ラ', 'リ', 'ル', 'レ', 'ロ', ''],
			'w': ['ワ', '', '', '', 'ヲ', 'ン']
		}
		row_list = ['a', 'i', 'u', 'e', 'o', 'n']

		kana = "{{ kana }}"
		url = "{% url 'moviedatabase:songlistbyartist' artist.pk 'template' %}".replace("template\/", "")
		object = "song"
		if (kana.length == 1) {
			$.each(rk, function(index, value){
				$.each(value, function(i, v) {
					if (v == kana) {
						col = index
						row = i
					}
				})
			})
			$.each(rk, function(i, v) {
				if (i == col) {
					$('.initial-col').append("<span class='initial-button'>" + v[0] + "</span>")
				} else {
					$('.initial-col').append("<a href='" + url + i + "' class='initial-button " + object + "-background'>" + v[0] + "</a>")
				}
			})
			$.each(row_list, function(i, v) {
				if (!rk[col][i]) {
					console.log(i, v)
				} else if (i == row) {
					$('.initial-row').append("<span class='initial-button'>" + rk[col][i] + "</span>")
				} else {
					$('.initial-row').append("<a href='" + url + col + v + "' class='initial-button " + object + "-background'>" + rk[col][i]  + "</a>")
				}
			})
		} else if (kana == "すべて") {
			$.each(rk, function(i, v) {
				$('.initial-col').append("<a href='" + url + i + "' class='initial-button " + object + "-background'>" + v[0] + "</a>")
			})
		} else {
			kana = kana[0]
			$.each(rk, function(index, value){
				$.each(value, function(i, v) {
					if (v == kana) {
						col = index
						row = i
					}
				})
			})
			$.each(rk, function(i, v) {
				if (i == col) {
					$('.initial-col').append("<span class='initial-button'>" + v[0] + "</span>")
				} else {
					$('.initial-col').append("<a href='" + url + i + "' class='initial-button " + object + "-background'>" + v[0] + "</a>")
				}
			})
			$.each(row_list, function(i, v) {
				if (!rk[col][i]) {
				} else {
					$('.initial-row').append("<a href='" + url + col + v + "' class='initial-button " + object + "-background'>" + rk[col][i]  + "</a>")
				}
			})
		}
	})
</script>
{% endblock %}