{% extends 'moviedatabase/base.html' %}

{% block title %}楽曲から探す{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/objectlist.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">楽曲から探す</div>
			<div class="detail-name-sub"></div>
			<div class="sub-name">
			</div>
			<div class="under-color music-background">
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="object-list">
				<h4 class="object-list-header artist-border">アーティスト</h4>
				<div class="search-container">
					<form action="{% url 'moviedatabase:artistsearch' %}" method="get" class="search-form">
						キーワード検索　<input type="textbox" name="word" class="search-box" value="{{ word }}">
						<button class="search-button" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<div class="initial-list">
					<div class="initial-col artist-col" style="justify-content: flex-start;">
					</div>
					<div class="initial-row artist-row">
					</div>
				</div>
				<ul class="object-list-ul">
				<h4 class="object-list-header song-border">楽曲</h4>
				<div class="search-container">
					<form action="{% url 'moviedatabase:songsearch' %}" method="get" class="search-form">
						<input type="textbox" name="word" class="search-box" value="{{ word }}">
						<button class="search-button" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<div class="initial-list">
					<div class="initial-col song-col" style="justify-content: flex-start;">
					</div>
					<div class="initial-row song-row">
					</div>
				</div>
				<ul class="object-list-ul">
			</div>
			<div class="detail-side">
			</div>
		</div>
	</div>
	<small>&copy; 2020 nignagIC</small>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		rk = {
			'a': ['ア', 'イ', 'ウ', 'エ', 'オ', ''],
			'k': ['カ', 'キ', 'ク', 'ケ', 'コ', ''],
			's': ['サ', 'シ', 'ス', 'セ', 'ソ', ''],
			't': ['タ', 'チ', 'ツ', 'テ', 'ト', ''],
			'n': ['ナ', 'ニ', 'ヌ', 'ネ', 'ノ', ''],
			'h': ['ハ', 'ヒ', 'フ', 'ヘ', 'ホ', ''],
			'm': ['マ', 'ミ', 'ム', 'メ', 'モ', ''],
			'y': ['ヤ', '', 'ユ', '', 'ヨ', ''],
			'r': ['ラ', 'リ', 'ル', 'レ', 'ロ', ''],
			'w': ['ワ', '', '', '', 'ヲ', 'ン']
		}
		row_list = ['a', 'i', 'u', 'e', 'o', 'n']

		kana = "{{ kana }}"
		url = {
			"artist": "{% url 'moviedatabase:artistlist' 'template' %}".replace("template\/", ""),
			"song": "{% url 'moviedatabase:songlist' 'template' %}".replace("template\/", "")
		}
		$.each(url, function(index, value) {
			$('.' + index + '-col').append("<a href='" + value + "all" + "' class='initial-button " + index + "-background'>" + "すべて" + "</a>")
			$.each(rk, function(i, v) {
				$('.' + index + '-col').append("<a href='" + value + i + "' class='initial-button " + index + "-background'>" + v[0] + "</a>")
			})
		})
	})
</script>
{% endblock %}