{% extends 'moviedatabase/base.html' %}

{% block title %}楽曲から探す{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/objectlist.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">楽曲から探す</div>
			<div class="detail-name-sub"></div>
			<div class="sub-name">
			</div>
			<div class="under-color music-background">
			</div>
			<div class="line-bottom">
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="object-list">
				<h4 class="object-list-header artist-border">アーティスト</h4>
				<div class="search-container">
					<form action="{% url 'moviedatabase:movielist' %}" method="get" class="search-form">
						キーワード検索　<input type="textbox" name="artist" class="search-box" value="{{ word }}">
						<button class="search-button" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<h4 class="object-list-header song-border">楽曲</h4>
				<div class="search-container">
					<form action="{% url 'moviedatabase:movielist' %}" method="get" class="search-form">
						<input type="textbox" name="song" class="search-box" value="{{ word }}">
						<button class="search-button" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<h4 class="object-list-header song-border">楽曲タグ</h4>
				<div class="search-container">
					<form action="{% url 'moviedatabase:movielist' %}" method="get" class="search-form">
						<input type="textbox" name="song_tag" class="search-box" value="{{ word }}">
						<button class="search-button" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
			</div>
			<div class="detail-side">
			</div>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}

{% block extrajs %}
{% endblock %}