.station-service-form-container {
	padding: 8px;
}

.station-service-each-form {
	margin-bottom: 8px;
	padding: 8px;
	border: 1px solid #ccc;
	display: flex;
	background: #fff;
}

.station-service-sortable span {
	cursor: move;
}

.station-list-container {
	display: flex;
}

.station-form-container {
	padding: 8px;
}

.station-each-form {
	margin-bottom: 8px;
	padding: 8px;
	border: 1px solid #ccc;
	display: flex;
	background: #fff;
}

.station-sortable span {
	cursor: move;
}