{% extends 'moviedatabase/base.html' %}

{% block title %}{{ movie }} - 詳細{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/detail.css' %}">

<!-- <div class="background" style="background: url(https://i.ytimg.com/vi/{{ movie.youtube_id }}/hqdefault.jpg) no-repeat center; background-size: cover; background-attachment: fixed;"> -->
{% if type == "confirm" %}
<div class="background" style="background: #180556;">
{% else %}
<div class="background" style="background: #ffe3cb;">
	{% include 'moviedatabase/includes/header.html' %}
{% endif %}
	<div class="main-container">
		<div class="youtube-container youtube-mobile">{% include 'moviedatabase/includes/detail_youtube.html' %}</div>
		<div class="movie-detail">
			<div class="youtube-container youtube-pc">{% include 'moviedatabase/includes/detail_youtube.html' %}</div>
			<div class="detail-original">
				<a href="https://www.youtube.com/watch?v={{ movie.youtube_id }}" target="_blank" class="movie-title-link"><h2 class="main-movie-title">{{ movie.title }}</h2></a>
				<div class="main-movie-channel">
					<a href="{% url 'moviedatabase:movielistbychannel' movie.channel.pk %}">
						<div class="main-movie-channel-img">
							<img id="img" class="style-scope yt-img-shadow" width="80" alt="" src="https://yt3.ggpht.com/{{ movie.channel.icon }}=s88-c-k-c0x00ffffff-no-rj">
						</div>
						<div class="main-movie-channel-name">{{ movie.channel }}</div>
					</a>
				</div>
				<h3 class="movie-detail-header">投稿日時</h3>
				<div class="detail-content">
					{% load tz %}
					<p class="main-movie-published-jpn">{{ movie.published_at|timezone:'Asia/Tokyo'|date:"Y年n月j日 H:i:s" }} <small>(日本時間)</small></p>
				</div>
				<h3 class="movie-detail-header">動画統計情報</h3>
				<div class="detail-content">
					<div class="movie-statistics">
						<div class="movie-statistics-item">
							<div class="movie-statistics-num">
							{% if movie.n_view == 0 %}
								0
							{% else %}
								{{ movie.n_view }}
							{% endif %}</div>
							<div class="movie-statistics-name">再生回数</div>
						</div>
						<div class="movie-statistics-item">
							<div class="movie-statistics-num">
							{% if movie.n_like == 0 %}
								0
							{% elif movie.n_like == -1 %}
								<small>非公開</small>
							{% else %}
								{{ movie.n_like }}
							{% endif %}</div>
							<div class="movie-statistics-name">高評価数</div>
						</div>
						<div class="movie-statistics-item">
							<div class="movie-statistics-num">
							{% if movie.n_dislike == 0 %}
								0
							{% elif movie.n_dislike == -1 %}
								<small>非公開</small>
							{% else %}
								{{ movie.n_dislike }}
							{% endif %}
							</div>
							<div class="movie-statistics-name">低評価数</div>
						</div>
						<div class="movie-statistics-item">
							<div class="movie-statistics-num">
							{% if movie.n_comment == 0 %}
								0
							{% else %}
								{{ movie.n_comment }}
							{% endif %}</div>
							<div class="movie-statistics-name">コメント数</div>
						</div>
					</div>
				</div>
				<h3 class="movie-detail-header">概要</h3>
				<div class="detail-content">
					<div class="movie-description">
						{{ movie.description | urlize | linebreaksbr }}
					</div>
					<!-- <a class="movie-description-button">すべて見る</a> -->
				</div>
			</div>
			<div class="detail-addition">
				{% if movie.songnew.all %}
				<h3 class="movie-detail-header">使用楽曲(全体)</h3>
				<div class="detail-content">
					<table class="song-table">
					{% for songnew in movie.songnew.all %}
						<tr>
							<td class="song-name"><a href="{% url 'moviedatabase:songsearch' %}?word={{ songnew.song_name }}">{{ songnew.song_name }}</a></td>
							<td class="artist-name">
								{% for n in songnew.artist_name_all %}
								<a href="{% url 'moviedatabase:artistsearch' %}?word={{ n }}">{{ n }}</a>
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td colspan="2" class="song-tag-td">
							{% if songnew.tag %}
								{% for n in songnew.tag_all %}
									<a href="{% url 'moviedatabase:songtagsearch' %}?word={{ n }}" class="song-tag-a"><i class="fas fa-tag"></i> {{ n }}</a>
								{% endfor %}
							{% endif %}
							</td>
						</tr>
					{% endfor %}
					</table>
				</div>
				{% endif %}
			</div>
			{% if movie.related.all %}
			<div class="related-movie">
				<h3 class="movie-detail-header">関連動画</h3>
				<ul class="movie-ul">
					{% for movie in movie.related.all %}
					<li class="movie-card">
						<a href="{% url 'moviedatabase:detail' movie.main_id %}">
							<img class="movie-img" src="https://i.ytimg.com/vi/{{ movie.youtube_id }}/hqdefault.jpg">
							<div class="movie-info">
					{% load tz %}
								<p class="movie-published">{{ movie.published_at|timezone:'Asia/Tokyo'|date:"Y/n/j" }}{% for c in movie.category %}<span class="movie-category">{{ c }}</span>{% endfor %}</p>
								<p class="movie-title"><span>{{ movie.title }}</span></p>
								<p><span class="movie-channel">{{ movie.channel }}</span></p>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% if movie.parent.all %}
			<div class="parent-movie">
				<h3 class="movie-detail-header">親/子作品</h3>
				<ul class="movie-ul">
					{% for movie in movie.parent.all %}
					<li class="movie-card">
						<a href="{% url 'moviedatabase:detail' movie.main_id %}">
							<img class="movie-img" src="https://i.ytimg.com/vi/{{ movie.youtube_id }}/hqdefault.jpg">
							<div class="movie-info">
					{% load tz %}
								<p class="movie-published">{{ movie.published_at|timezone:'Asia/Tokyo'|date:"Y/n/j" }}{% for c in movie.category %}<span class="movie-category">{{ c }}</span>{% endfor %}</p>
								<p class="movie-title"><span>{{ movie.title }}</span></p>
								<p><span class="movie-channel">{{ movie.channel }}</span></p>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			<div class="update-date">
				<p>最終更新日時：{{ movie.update_date|timezone:'Asia/Tokyo'|date:"Y年n月j日 H:i:s" }}</p>
				<p>YouTube取得情報：{{ movie.statistics_update_date|timezone:'Asia/Tokyo'|date:"Y年n月j日 H:i:s" }}{% if can_statistics_update and can_edit %} <a href="{% url 'moviedatabase:movie_statistics_update' movie.main_id %}">更新(1日1回まで)</a>{% endif %}</p>
			</div>
			{% if can_edit and type == "detail" %}
			<div class="update-container">
				<p>※編集権限を持つユーザーでログインしている場合のみ表示されています。</p>
				<a href="{% url 'moviedatabase:movie_edit' movie.main_id %}">編集</a>
			</div>
			{% endif %}
		</div>
		<div class="movie-station-list">
			<h3 class="movie-detail-header movie-detail-header-part">
				<p>パート・駅詳細</p>
				<div class="all-container">
					<a class="all-open">すべて展開</a>
					<a class="all-close">すべて閉じる</a>
				</div>
			</h3>
			<div class="part-outer">
				{% for part in parts %}
				<div class="part-container">
					<div class="part-header" {% if onlyonepart %}style="display: none;"{% endif %}>
						<div class="part-name-short">
							<span>
							{% if part.short_name %}
								{{ part.short_name }}
							{% endif %}
							</span>
						</div>
						<table class="part-table" data-part_id="{{ part.id }}" data-category="{{ part.category }}">
							<tr>
								<td class="part-header-up">
									{% if part.name %}
										{{ part.name }}
									{% else %}
									　
									{% endif %}
								</td>
							</tr>
							<tr class="row-2">
								<td>
									{% if part.participant.all %}
										{% for participant in part.participant.all %}
											{{ participant }}
											{% if forloop.last %}
											{% else %}
												<span>/</span>
											{% endif %}
										{% endfor %}
										{% endif %}
									{% if part.songnew.all %}
									 - 
										{% for songnew in part.songnew.all %}
											{{ songnew }}
											{% if forloop.last %}
											{% else %}
												<span>/</span>
											{% endif %}
										{% endfor %}
									{% endif %}
								</td>
							</tr>
						</table>
					</div>
					<div class="part-detail-container" style="display: none;">
						<table class="part-detail-table">
							{% if part.name %}
							<tr class="part-detail-row">
								<th class="part-detail-label">パート名</th>
								<td class="part-detail-content">{{ part.name }}</td>
							</tr>
							{% endif %}
							{% if part.participant.all %}
							<tr class="part-detail-row">
								<th class="part-detail-label">参加者(名義)</th>
								<td class="part-detail-content">
									{% for participant in part.participant.all %}
										<a href="{% url 'moviedatabase:movielistbycreator' participant.creator.pk  %}">{{ participant }}</a>
										{% if forloop.last %}
										{% else %}
											/
										{% endif %}
									{% endfor %}
								</td>
							</tr>
							{% endif %}
							{% if part.songnew.all %}
							<tr class="part-detail-row">
								<th class="part-detail-label">使用楽曲</th>
								<td class="part-detail-content">
										{% for songnew in part.songnew.all %}
											<a href="{% url 'moviedatabase:songsearch' %}?word={{ songnew.song_name }}">{{ songnew.song_name }}</a> - 
												{% for n in songnew.artist_name_all %}
												<a href="{% url 'moviedatabase:artistsearch' %}?word={{ n }}" class="part-artist-name">{{ n }}</a>
												{% endfor %}
											{% if songnew.tag %}
												<br>
												{% for n in songnew.tag_all %}
													<a href="{% url 'moviedatabase:songtagsearch' %}?word={{ n }}" class="song-tag-a"><i class="fas fa-tag"></i> {{ n }}</a>
												{% endfor %}
											{% endif %}
											{% if forloop.last %}
											{% else %}
												<span><br></span>
											{% endif %}
										{% endfor %}
								</td>
							</tr>
							{% endif %}
							{% if part.vocalnew.all %}
							<tr class="part-detail-row">
								<th class="part-detail-label">使用ボーカル</th>
								<td class="part-detail-content">
									{% for vocal in part.vocalnew.all %}
										{{ vocal }}
										{% if forloop.last %}
										{% else %}
											<span>/</span>
										{% endif %}
									{% endfor %}
								</td>
							</tr>
							{% endif %}
							{% if part.category %}
							<tr class="part-detail-row">
								<th class="part-detail-label">種類</th>
								<td class="part-detail-content">{{ part.category }}</td>
							</tr>
							{% endif %}
							{% if part.start_time %}
							<tr class="part-detail-row">
								<th class="part-detail-label">開始位置</th>
								<td class="part-detail-content"><a class="start-time">{{ part.start_time }}</a></td>
							</tr>
							{% endif %}
							{% if part.explanation %}
							<tr class="part-detail-row">
								<th class="part-detail-label">説明</th>
								<td class="part-detail-content">{{ part.explanation }}</td>
							</tr>
							{% endif %}
						</table>
						<div class="station-list-{{ part.id }} station-list">
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% if type == "confirm" %}
	<div class="submit-banner">
		<div class="submit-banner-inner">
			<div class="submit-content">
				<div class="submit-form-status">
					この内容で登録を行いました。
					<br><p class="submit-form-status-red">戻るボタンは使わないでください。情報が変更、削除される可能性があります。</p>
				</div>
				<a class="back-button" href="{% url 'moviedatabase:part_edit' movie.main_id %}">パート編集に戻る</a>
				<form action="{% url 'moviedatabase:detail' movie.main_id %}" method="post">
					<button class="complete-button" name="confirm" onclick="submit()">完了</a>
					{% csrf_token %}
				</form>
			</div>
		</div>
	</div>
{% else %}
	{% include 'moviedatabase/includes/footer.html' %}
{% endif %}

</div>
<div id="detail-url" data-part="{% url 'moviedatabase:partstationapi' '0' %}" data-line="{% url 'moviedatabase:movielistbylineservice' '0' %}" data-station="{% url 'moviedatabase:movielistbystationservice' '0' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'moviedatabase/detail.js' %}"></script>
{% endblock %}