{% extends 'moviedatabase/base.html' %}
{% load tz %}

{% block title %}フリーワード検索 - {{ word }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/objectlist.css' %}">
<link rel="stylesheet" href="{% static 'moviedatabase/freesearch.css' %}">

<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">{% if word %}{{ word }}{% endif %}</div>
			<div class="detail-name-sub">フリーワード検索</div>
			<div class="sub-name">
				{% if word %}
					キーワード：{{ word }}
				{% endif %}
			</div>
			<div class="under-color movie-background">
			</div>
			<div class="line-bottom">
				<form action="" method="get" class="search-form">
					<input type="textbox" name="word" class="search-box" value="{% if word %}{{ word }}{% endif %}">
					<button class="search-button" type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>
		</div>
	</div>
	<div class="main-content">
		<div class="main-content-inner">
			<section class="list-container">
				<div class="movie-list">
					<h4 class="content-header movie-border">動画 <small>[{{ mcount }}件]</small></h4>
					{% if movie_list %}
						{% include 'moviedatabase/includes/movielist.html' %}
					{% else %}
						<p>該当する動画が見つかりませんでした。</p>
					{% endif %}
					<a href="{% url 'moviedatabase:movielist' %}?word={{ word }}">もっと見る</a>
				</div>
				<div class="creator-list">
					<h4 class="content-header creator-border">作者 <small>[{{ ccount }}件]</small></h4>
					{% if creators %}
					<ul class="object-list-ul">
						{% for creator in creators %}
							<li class="object-list-li">
								<a href="{% url 'moviedatabase:movielistbycreator' creator.pk 'pub' 'n' %}" class="creator-color">{{ creator }}</a>
							</li>
						{% endfor %}
					</ul>
					{% else %}
						<p>該当する作者が見つかりませんでした。</p>
					{% endif %}
					<a href="{% url 'moviedatabase:creatorsearch' %}?word={{ word }}">もっと見る</a>
				</div>
			</section>
			<section class="list-container">
				<div class="line-list">
					<h4 class="content-header line-border">路線 <small>[{{ lcount }}件]</small></h4>
					{% if lineservices %}
					<ul class="object-list-ul">
						{% for lineservice in lineservices %}
							<li class="object-list-li">
								<a href="{% url 'moviedatabase:movielistbylineservice' lineservice.pk 'pub' 'n' %}" class="line-color">{{ lineservice }}</a>
							</li>
						{% endfor %}
					</ul>
					{% else %}
						<p>該当する路線が見つかりませんでした。</p>
					{% endif %}
					<a href="{% url 'moviedatabase:lineservicesearch' %}?word={{ word }}">もっと見る</a>
				</div>
				<div class="station-list">
					<h4 class="content-header station-border">駅 <small>[{{ scount }}件]</small></h4>
					{% if stationservices %}
					<ul class="object-list-ul">
						{% for stationservice in stationservices %}
							<li class="object-list-li">
								<a href="{% url 'moviedatabase:movielistbystationservice' stationservice.pk 'pub' 'n' %}" class="station-color">
									<div>{{ stationservice }}</div>
									<div>{{ stationservice.line_service }}</div>
								</a>
							</li>
						{% endfor %}
					</ul>
					{% else %}
						<p>該当する駅が見つかりませんでした。</p>
					{% endif %}
					<a href="{% url 'moviedatabase:stationservicesearch' %}?word={{ word }}">もっと見る</a>
				</div>
			</section>
			<section class="list-container">
				<div class="artist-list">
					<h4 class="content-header artist-border">アーティストに {{ word }} を含む動画 <small>[{{ acount }}件]</small></h4>

<ul class="movie-ul">
	{% if movies_artist %}
	{% for movie in movies_artist %}
	<li class="movie-card">
		<a href="{% url 'moviedatabase:detail' movie.main_id %}">
			<img class="movie-img" src="https://i.ytimg.com/vi/{{ movie.youtube_id }}/hqdefault.jpg">
			<div class="movie-info">
	{% load tz %}
				<p class="movie-published">{{ movie.published_at|timezone:'Asia/Tokyo'|date:"Y/n/j" }}<span class="movie-category">{{ movie.get_is_collab_display  }}</span>{% for c in movie.category %}<span class="movie-category">{{ c }}</span>{% endfor %}</p>
				<p class="movie-title"><span>{{ movie.title }}</span></p>
				<p><span class="movie-channel">{{ movie.channel }}</span><span class="movie-duration"> - {{ movie.get_duration }}</span></p>

				<!-- <p>{% for s in movie.songnew.all %}{{ s }}{% endfor %}</p> -->
			</div>
		</a>
	</li>
	{% endfor %}
	{% else %}
	<p>該当する動画が見つかりませんでした。</p>
	{% endif %}
</ul>
					<a href="{% url 'moviedatabase:artistsearch' %}?word={{ word }}">もっと見る</a>

				</div>
				<div class="song-list">
					<h4 class="content-header song-border">楽曲に {{ word }} を含む動画 <small>[{{ songcount }}件]</small></h4>
<ul class="movie-ul">
	{% if movies_song %}
	{% for movie in movies_song %}
	<li class="movie-card">
		<a href="{% url 'moviedatabase:detail' movie.main_id %}">
			<img class="movie-img" src="https://i.ytimg.com/vi/{{ movie.youtube_id }}/hqdefault.jpg">
			<div class="movie-info">
	{% load tz %}
				<p class="movie-published">{{ movie.published_at|timezone:'Asia/Tokyo'|date:"Y/n/j" }}<span class="movie-category">{{ movie.get_is_collab_display  }}</span>{% for c in movie.category %}<span class="movie-category">{{ c }}</span>{% endfor %}</p>
				<p class="movie-title"><span>{{ movie.title }}</span></p>
				<p><span class="movie-channel">{{ movie.channel }}</span><span class="movie-duration"> - {{ movie.get_duration }}</span></p>

				<!-- <p>{% for s in movie.songnew.all %}{{ s }}{% endfor %}</p> -->
			</div>
		</a>
	</li>
	{% endfor %}
	{% else %}
	<p>該当する動画が見つかりませんでした。</p>
	{% endif %}
</ul>
					<a href="{% url 'moviedatabase:songsearch' %}?word={{ word }}">もっと見る</a>
				</div>
			</section>
		</div>
	</div>
</div>
{% endblock %}