{% extends 'moviedatabase/base.html' %}

{% block title %}{% if is_detail_search %}詳細検索{% else %}動画一覧{% endif %}{% endblock %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">{% if is_detail_search %}詳細検索{% else %}動画一覧{% endif %}</div>
			<div class="detail-name-sub"></div>
			<div class="sub-name">
			</div>
			<div class="under-color movie-background">
				{{ paginator.count }}件
			</div>
			<div class="line-bottom">
				<table class="detail-search-query-table">
					{% if word %}<tr><th>キーワード</th><td>{{ word }}</td>{% endif %}
					{% if is_detail_search %}<tr><th>単合区分</th><td class="is_collab-display"></td>{% endif %}
					{% if channel %}<tr><th>投稿チャンネル名</th><td>{{ channel }}</td>{% endif %}
					{% if sung_name %}<tr><th>歌唱駅名</th><td>{{ sung_name }}</td>{% endif %}
					{% if line_name_customize %}<tr><th>歌唱路線名</th><td>{{ line_name_customize }}</td>{% endif %}
					{% if song %}<tr><th>曲名</th><td>{{ song }}</td>{% endif %}
					{% if artist %}<tr><th>アーティスト名</th><td>{{ artist }}</td>{% endif %}
					{% if song_tag %}<tr><th>楽曲タグ</th><td>{{ song_tag }}</td>{% endif %}
					{% if published_at_start and published_at_end %}<tr><th>投稿日時</th><td><span class="datetime-display">{{ published_at_start }}</span>～<span class="datetime-display">{{ published_at_end }}</span></td>{% endif %}
					{% if information_time_point_start and information_time_point_end %}<tr><th>情報の日付</th><td><span class="date-display">{{ information_time_point_start }}</span>～<span class="date-display">{{ information_time_point_end }}<span class="date-display"></td>{% endif %}
				</table>
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="detail-movie-list">
				<h4 class="movie-list-header movie-border">動画一覧</h4>
				{% include 'moviedatabase/includes/movielist.html' %}
				{% include 'moviedatabase/includes/pagination.html' %}
			</div>
			<div class="detail-side">
				<h4 class="side-header movie-border">詳細検索</h4>
				<li class="side-list-li">
				<form action="" method="get" class="right-search-form">
					<div class="search-input-category">
						キーワード<small>（タイトル・概要欄・補足説明）</small>
						<div class="search-input-container">
							<input type="textbox" name="word" class="search-box" value="{% if word %}{{ word }}{% endif %}">
						</div>
					</div>
					<div class="search-input-category">
						単合区分
						<div class="search-input-container" style="height: auto;">
							<label>
								<input type="checkbox" name="is_collab" value="S"> 単作
							</label>
							<label>
								<input type="checkbox" name="is_collab" value="C"> 合作
							</label>
						</div>
					</div>
					<div class="search-input-category">
						投稿チャンネル名
						<div class="search-input-container">
							<input type="textbox" name="channel" class="search-box" value="{% if channel %}{{ channel }}{% endif %}">
						</div>
					</div>
					<div class="search-input-category">
						歌唱駅名
						<div class="search-input-container">
							<input type="textbox" name="sung_name" class="search-box" value="{% if sung_name %}{{ sung_name }}{% endif %}">
						</div>
					</div>
					<div class="search-input-category">
						歌唱路線名
						<div class="search-input-container">
							<input type="textbox" name="line_name_customize" class="search-box" value="{% if line_name_customize %}{{ line_name_customize }}{% endif %}">
						</div>
					</div>
					<div class="search-input-category">
						曲名
						<div class="search-input-container">
							<input type="textbox" name="song" class="search-box" value="{% if song %}{{ song }}{% endif %}">
						</div>
					</div>
					<div class="search-input-category">
						アーティスト名
						<div class="search-input-container">
							<input type="textbox" name="artist" class="search-box" value="{% if artist %}{{ artist }}{% endif %}">
						</div>
					</div>
					<div class="search-input-category">
						楽曲タグ
						<div class="search-input-container">
							<input type="textbox" name="song_tag" class="search-box" value="{% if song_tag %}{{ song_tag }}{% endif %}">
						</div>
					</div>
					<div class="search-input-category">
						投稿日時
						<div class="search-input-container" style="height: auto;">
							<input type="datetime-local" name="published_at_start" value="{% if published_at_start %}{{ published_at_start }}{% endif %}">～<input type="datetime-local" name="published_at_end" value="{% if published_at_end %}{{ published_at_end }}{% endif %}">
							<button type="button" class="search-reset" id="search-published_at-reset">指定なし</button>
						</div>
					</div>
					<div class="search-input-category">
						情報の日時
						<div class="search-input-container" style="height: auto;">
							<input type="date" name="information_time_point_start" value="{% if information_time_point_start %}{{ information_time_point_start }}{% endif %}">～<input type="date" name="information_time_point_end" value="{% if information_time_point_end %}{{ information_time_point_end }}{% endif %}">
							<button type="button" class="search-reset" id="search-information_time_point-reset">指定なし</button>
						</div>
					</div>
					<!-- 作者、チャンネル、単合、記憶、駅名非駅名、駅、路線、歌唱名、曲、アーティスト、期間 -->
					<div>
						<button class="search-advanced-button">検索 <i class="fas fa-search" aria-hidden="true"></i></button>
					</div>
				</form>
				</li>
			</div>
		</div>
	</div>
	{% include 'moviedatabase/includes/footer.html' %}
</div>
{% endblock %}

{% block extrajs %}
<script>
	is_collab = {{ is_collab|safe }}
	$('input:checkbox[name="is_collab"]').val(is_collab);

	txt = []
	$(is_collab).each(function(i, e) {
		if (e == "S") txt.push("単作");
		if (e == "C") txt.push("合作");
	})
	if (txt.length == 0) {
		$('.is_collab-display').html("すべて")
	} else {
		$('.is_collab-display').html(txt.join('、'))
	}

	$('.datetime-display').each(function(i, e) {
		dt = $(e).html();
		$(e).html(dt.replace('T', ' ').replace(/-/g, '/'))
	})

	$('.date-display').each(function(i, e) {
		dt = $(e).html();
		$(e).html(dt.replace(/-/g, '/'))
	})

	$(document).on('click', '#search-published_at-reset', function() {
		$('input[name="published_at_start"]').val("");
		$('input[name="published_at_end"]').val("");
	})
	$(document).on('click', '#search-information_time_point-reset', function() {
		$('input[name="information_time_point_start"]').val("");
		$('input[name="information_time_point_end"]').val("");
	})
</script>
{% endblock %}