{% extends 'moviedatabase/base.html' %}

{% block title %}動画一覧{% endblock %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'moviedatabase/movielistbydetail.css' %}">
<div class="background">
	{% include 'moviedatabase/includes/header.html' %}
	<div class="detail-header">
		<div class="detail-header-content">
			<div class="detail-name">動画一覧</div>
			<div class="detail-name-sub"></div>
			<div class="sub-name">
				{% if word %}
					キーワード：{{ word }}
				{% endif %}
			</div>
			<div class="under-color movie-background">
				{{ count }}件
			</div>
			<div class="line-bottom">
				<form action="" method="get" class="search-form">
					<br><input type="textbox" name="word" class="search-box" value="{% if word %}{{ word }}{% endif %}">
					<button class="search-button" type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="detail-movie-list" style="width: 100%;">
				<h4 class="movie-list-header movie-border">動画一覧</h4>
				{% include 'moviedatabase/includes/movielist.html' %}
				{% include 'moviedatabase/includes/pagination.html' %}
			</div>
		</div>
	</div>
	<small>&copy; 2020 nignagIC</small>
</div>
{% endblock %}