{% extends 'moviedatabase/base.html' %}

{% block title %}動画情報編集 - {{ movie }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/part_edit.css' %}">
{% for m in movies %}{{ m }}<br>{% endfor %}
<form name="part_add" method="post">
	<h2>動画情報編集</h2>
	<div class="main-container">
		{% include 'moviedatabase/includes/movie_edit_base.html' %}
		<div class="movie-part-list">
			{% if partcount == 0 %}
			<input type="radio" name="part-division" value="single" checked="">　パート分けなし<br>
			<input type="radio" name="part-division" value="multiple">　パート分けあり
			{% else %}
				{% for part in parts %}
				<div class="part-header" {% if onlyonepart %}style="display: none;"{% endif %}>
					<div class="part-name-short"><span>{{ part.short_name }}</span></div>
					<table class="part-table" data-part_id="{{ part.id }}" data-category="{{ part.category }}">
						<tr>
							<td class="part-header-up">
								{{ part.name }}
							</td>
						</tr>
						<tr class="row-2">
							<td>
								{% if part.participant.all %}
									{% for participant in part.participant.all %}
										{{ participant }}
										{% if forloop.last %}
										{% else %}
											<span>/</span>
										{% endif %}
									{% endfor %}
									{% endif %}
								{% if part.song.all %}
								 - 
									{% for song in part.song.all %}
										{{ song }}
										{% if forloop.last %}
										{% else %}
											<span>/</span>
										{% endif %}
									{% endfor %}
								{% endif %}
							</td>
						</tr>
					</table>
				</div>
				{% endfor %}
			{% endif %}
			<input type="radio" name="part-division" value="exist" style="display: none;">
		</div>
	</div>
	<div class="submit-button">
		{% csrf_token %}
		<button type="button" onclick="submit();" class="btn btn-primary">送信</button>
	</div>
</form>
{% endblock %}

{% block extrajs %}
	{% include 'moviedatabase/includes/movie_edit_base_script.html' %}
<script type="text/javascript">
	$(function() {
		d = $('.movie-description').text().replace(/<br>/g, '<br>');
		$('.movie-description').html(d)
	})
</script>
{% endblock %}