{% extends 'moviedatabase/base.html' %}

{% block title %}動画・パート情報編集 - {{ movie }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/part_edit.css' %}">
{% for m in movies %}{{ m }}<br>{% endfor %}
<form name="part_add" method="post">
	<h2>動画・パート情報編集</h2>
	<div class="main-container">
		{% include 'moviedatabase/includes/movie_edit_base.html' %}
		<div class="movie-part-list">
			<h3>パート編集</h3>
			{{ formset.management_form }}
			<div class="part-container">
			{% for form in formset %}
				<div class="part-header">
					<div class="part-handle">
						<a class="sortable-handle">■</a>
					</div>
					{{ form.id }}
					{{ form.sort_by_movie }}
					{{ form.movie }}
					{{ form.participant }}
					{{ form.song }}
					{{ form.explanation }}
					<div class="part-name-short">
						番号<br>{{ form.short_name }}
						<div class="name-short-error">{{ form.short_name.errors }}</div>
					</div>
					<div class="part-name">
						路線説明またはパート名{{ form.name }}<br>
						開始位置{{ form.start_time }}<input type="button" class="time-set" value="現在位置に指定">
						<div class="name-error">{{ form.name.errors }}</div>
						<div class="part-start-time">
							<p><span class="participant-list"></span>
							<span class="part-song-list"> - </span></p>
						</div>
					</div>
					<div class="detail-link">
						{% if form.sort_by_movie.value != None and form.short_name.value %}
						<div class="station-button">
							<a href="{% url 'moviedatabase:station_edit' movie.main_id form.sort_by_movie.value %}">駅情報<br>編集</a>
						</div>
						{% else %}
						<div class="delete-button">
							<a class="delete-text">削除</a>
						</div>
						{% endif %}
					</div>
				</div>
			{% if form.errors %}
				{{ form.non_field_errors }}
			{% endif %}
		{% for field, errors in form.errors.items %}
			{% for error in errors %}
				<p>{{ field }}{{ error }}</p>
			{% endfor %}
		{% endfor %}
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="submit-button">
		<input type="button" class="part-add" value="パート追加">
		{% csrf_token %}
		<button type="button" onclick="submit();" class="btn btn-primary">送信</button>
	</div>
</form>
{% endblock %}

{% block extrajs %}
	{% include 'moviedatabase/includes/movie_edit_base_script.html' %}
<script type="text/javascript">
	$(function() {
		d = $('.movie-description').text().replace(/<br>/g, '<br>');
		$('.movie-description').html(d)
	})
	
	$(function() {
		$('part-container').html(
			$('.part-header').sort(function(a,b) {
				return parseInt($(a).children('.sort_by_movie').val(), 10) - parseInt($(b).children('.sort_by_movie').val(), 10)
			})
		)

		$('.part-header').each(function() {
			t = $(this)
			$(this).children('.participant').each(function(i, elem) {
				pv = $(elem).val();
				pn = $('.name-list[value=' + pv + ']').text();
				t.find('.participant-list').append(pn);
			})

			$(this).children('.song').each(function(i, elem) {
				sv = $(elem).val();
				sn = $('.song-list[value=' + sv + ']').text();
				t.find('.part-song-list').append(sn);
			})
		})

		$('div.part-container').sortable({
			handle: ".sortable-handle",
			update: function() {
				$('.part-header').each(function(i, form) {
					$(form).find('.sort_by_movie').val(i);
				})
			}
		})

		var totalManageElement = $('input#id_part_set-TOTAL_FORMS');
		var currentFileCount = parseInt(totalManageElement.val());
		$('.part-add').on('click', function(){
			p = part_text(false, currentFileCount);

			$('.part-container').append(p);

			$('.part-header').each(function(i, form) {
				$(form).find('.sort_by_movie').val(i);
			})

			currentFileCount += 1;
			totalManageElement.attr('value', currentFileCount);
		})

		$(document).on('click', '.delete-button', function() {
			$(this).parents(".part-header").remove();

			$('.part-header').each(function(i, form) {
				$(form).find('.sort_by_movie').val(i);
			})

			currentFileCount -= 1;
			totalManageElement.attr('value', currentFileCount);
			$('#single-part-boolean').val(false)
		})
	})

	function part_text(single, currentFileCount) {
		if (single == true) {
			v = "0";
			t = "0:00:00";
		} else {
			v = "";
			t = "";
		}
		p = "<div class='part-header'><div class='part-handle'><a class='sortable-handle'>■</a></div>"
		p += "<input type='hidden' name='part_set-" + currentFileCount + "-id' id='id_part_set-" + currentFileCount + "-id'>"
		p += "<input type='hidden' name='part_set-" + currentFileCount + "-sort_by_movie' class='sort_by_movie' id='id_part_set-" + currentFileCount + "-sort_by_movie'>"
		p += "<input type='hidden' name='part_set-" + currentFileCount + "-movie' value='{{ movie.main_id }}' id='id_part_set-" + currentFileCount + "-movie'>"
		p += "<input type='hidden' name='part_set-" + currentFileCount + "-explanation' class='explanation' id='id_part_set-" + currentFileCount + "-explanation'>"
		p += "<div class='part-name-short'>番号<br><input type='text' name='part_set-" + currentFileCount + "-short_name' value='" + v + "' class='short_name' maxlength='10' id='id_part_set-" + currentFileCount + "-short_name'><div class='name-short-error'></div></div>"
		p += "<div class='part-name'>路線説明またはパート名<input type='text' name='part_set-" + currentFileCount + "-name' class='name' maxlength='200' id='id_part_set-" + currentFileCount + "-name'><br>"
		p += "開始位置<input type='text' name='part_set-" + currentFileCount + "-start_time' value='" + t + "' class='start_time' id='id_part_set-" + currentFileCount + "-start_time'><input type='button' class='time-set' value='現在位置に指定'><br>"
		p += "<div class='name-error'></div>"
		p += "<div class='part-start-time'><p><span class='participant-list'></span><span class='part-song-list'> - </span></p></div></div>"
		p += "<div class='detail-link'><div class='delete-button'><a class='delete-text'>削除</a></div></div></div>"

		return p
	}
</script>
{% endblock %}