{% extends 'moviedatabase/base.html' %}
{% load tags %}

{% block title %}駅編集 - {{ part }}{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/station_edit.css' %}">

<form action="" method="post" enctype="multipart/form-data">
	<h2>駅情報編集</h2>
	<div>{{ part }} > {{ part.short_name }} {{ part.name }} - {% for p in part.participant.all %}{{ p }}{% endfor %}</div>
	<div class="edit-area">
		<div class="part-edit">
			<div class="youtube-frame">
				<div id="player"></div>
				<script>
					var tag = document.createElement('script');

					tag.src = "https://www.youtube.com/iframe_api";
					var firstScriptTag = document.getElementsByTagName('script')[0];
					firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

					var player;
					function onYouTubeIframeAPIReady() {
						player = new YT.Player('player', {
							    videoId: '{{ part.movie.youtube_id }}',
						})
					}
				</script>
			</div>
			<div class="part-detail">
				{{ part_form.non_field_errors }}
				<div class="part-detail-top">
					路線説明またはパート名{{ part_form.name }}
					開始時間{{ part_form.start_time }}<input type="button" class="youtube-jump" value="この位置にジャンプ">
					補足説明{{ part_form.explanation }}
					{{ part_form.movie }}
				</div>
				<div class="part-detail-bottom">
					<div>
						種類<br>{{ part_form.category }}
					</div>
					<div>
						参加者<br>{{ part_form.participant }}<br><a href="javascript:void(0);" onclick="window.open('{% url 'moviedatabase:popup_name_create' %}', 'subwin', 'width=500,height=500');">+Name</a>
					</div>
					<div>
						使用楽曲(パート単体)<br>{{ part_form.song }}<br><a href="javascript:void(0);" onclick="window.open('{% url 'songdata:popup_song_create' %}', 'subwin', 'width=500,height=500');">+Song</a>
					</div>
					<div>
						使用ボーカル<br>{{ part_form.vocalnew }}<br><a href="javascript:void(0);" onclick="window.open('{% url 'songdata:popup_vocal_create' %}', 'subwin', 'width=500,height=500');">+Vocal</a>
					</div>
				</div>
				<div>
					<p class="movie-description">{{ part.movie.description | linebreaksbr }}</p>
				</div>
			</div>
		</div>
		<div class="station-editing-area">
			<div class="station-list-container">
				<ul class="tab-container">
					<li class="tab is-active">都道府県から</li>
					<li class="tab">事業者から</li>
					<li class="tab">駅名検索</li>
					<li class="tab tab-transfer">乗換駅</li>
				</ul>
				<div class="tab-content-group">
					<div class="station-pref-list-tab tab-content is-show">
						<div class="list-container">
							<h5>都道府県</h5>
							<div name="pref" size="18" id="pref-select">
							{% for pref in prefs %}
								<div value="{{ pref.pk }}">{{ pref }}</div>
							{% endfor %}
							</div>
						</div>
						<div class="list-container">
							<h5>路線</h5>
							<div name="s0" size="18" class="pref-line-select line-select">
							</div>
						</div>
					</div>
					<div class="station-company-list-tab tab-content">
						<div class="list-container">
							<h5>事業者名</h5>
							<div name="company" size="18" id="company-select">
							{% for c in companies %}
								<div value="{{ c.pk }}">{{ c }}</div>
							{% endfor %}
							</div>
						</div>
						<div class="list-container">
							<h5>路線</h5>
							<div name="s0" size="18" class="company-line-select line-select">
							</div>
						</div>
					</div>
					<div class="tab-content station-search-tab">
						<div class="search-box">
							<div>駅名検索(仮)</div>
							<input type="textbox" class="namesearch"><input type="button" name="namesearch" class="namesearchbutton" value="検索">
						</div>
					</div>
					<div class="tab-content station-transfer-tab">
						<div class="list-container">
							<h5>【　　】駅の乗り換え路線</h5>
							<div name="s0" size="18" class="transfer-line-select line-select">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="station-queue">
				<h5>駅　<input type="button" name="station-reverse" class="station-reverse" value="逆順"></h5>
				<select name="s1" size="18" id="id_station-select" class="station-select" data-line_name="" multiple="">
				</select>
				<a href="javascript:void(0);" onclick="window.open('{% url 'stationdata:popuplineservicesimpleregister' %}', 'subwin', 'width=500,height=500');">+路線</a>
	<script type="text/javascript">
		function add_lineservice(name, pk) {
		}
	</script>
			</div>
			<input type="button" name="station-append" class="station-append" value="追加">
			<div class="selected-list-container">
				<h3>登録駅</h3>
				{{ formset.management_form }}
				<div class="selected-list">
				{% for form in formset %}
					<div class="station_form">
						{{ form.non_field_errors }}
						<div class="stations">
							<div class="stations-handle">
								<a class="sortable-handle">■</a>
							</div>
							<div class="stations-content">
								<div class="stations-relation">
									{{ form.id }}
									{{ form.sort_by_part }}
									<div class="stations-relation-line"></div>
									<div class="stations-relation-select">
										{{ form.back_rel }}
									</div>
								</div>
								<div class="stations-box">
									<div class="line-search">
										<a class="line-search-button">路線<br>検索</a>
									</div>
									<div class="stations-info">
										<div class="stations-info-top">
											{{ form.station_service }}
											<div class="station-name-container">
												<div class="station-name-fixed">{{ form.station_service.value | get_station_service }}</div>
												<div class="stations-remarks">
													備考<input type="textbox" name="remarks[]" class="stations-remarks-text">
												</div>
											</div>
										</div>
										<div class="stations-info-bottom">
											<div class="station-sung-name">
												歌唱名：{{ form.sung_name }}
											</div>
											<div class="line-name">{{ form.station_service.value | get_line_service }}</div>
										</div>
									</div>
									<div class="stations-delete">
										<a class="sortable-delete">{{ form.DELETE }}削除</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% if form.errors %}
						{{ form.non_field_errors }}
					{% endif %}
					{% for field, errors in form.errors.items %}
						{% for error in errors %}
							<p>{{ field }}{{ error }}</p>
						{% endfor %}
					{% endfor %}
				{% endfor %}
				</div>
				{% csrf_token %}
			</div>
		</div>
	</div>
	<button type="button" onclick="submit();" class="btn btn-primary">送信</button>
</form>
{% endblock %}

{% block extrajs %}
<script src="{% static 'moviedatabase/station_edit.js' %}"></script>
{% endblock %}