{% extends 'stationdata/base.html' %}

{% block title %}路線登録{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'stationdata/register.css' %}">

<h2>路線登録</h2>
<div class="main-container">
	<form action="" method="POST">
		{{ formset.management_form }}
		<div class="line-form-container">
			{% for form in formset %}
			<div class="line-each-form">
				<div class="line-sortable">
					<span class="sortable-handle">■</span>
				</div>
				<table class="line-form">
					{{ form.as_table }}
				</table>
				<a href="{% url 'stationdata:stationregister' form.id.value %}">編集 - {{ form.name.value }}</a>
			</div>
			{% endfor %}
		</div>
		{% csrf_token %}
		<input type="button" class="line-append" value="路線追加">
		<button type="submit" class="btn">送信</button>
	</form>
	<div class="prefs">
		{% for p in prefs %}
		<div data-name="{{ p }}" data-id="{{ p.pk }}"></div>
		{% endfor %}
	</div>
	<div class="categories">
		{% for c in categories %}
		<div data-name="{{ c }}" data-id="{{ c.pk }}"></div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script>
	// $(function() {
	// 	$('#id_company').val('{{ company.pk }}')
	// })

	$(function() {
		var prefs = {}

		$('.prefs').children('div').each(function() {
			name = $(this).data("name")
			prefid = $(this).data("id")
			prefs[name] = prefid;
		})

		var categories = {}

		$('.categories').children('div').each(function() {
			name = $(this).data("name")
			categoryid = $(this).data("id")
			categories[name] = categoryid;
		})

		$('.line-form-container').html(
			$('.line-each-form').sort(function(a,b) {
				return parseInt($(a).find('.sort_by_company').val(), 10) - parseInt($(b).find('.sort_by_company').val(), 10)
			})
		)

		var totalManageElement = $('input#id_line_set-TOTAL_FORMS');
		var currentFileCount = parseInt(totalManageElement.val());

		$('.line-append').on('click', function() {
			list = text(currentFileCount);
			$('.line-form-container').append(list)
			currentFileCount += 1;
			totalManageElement.attr('value', currentFileCount);
		})

		$('div.line-form-container').sortable({
			handle: ".sortable-handle",
			update: function() {
				$('.line-each-form').each(function(i, form) {
					$(form).find('.sort_by_company').val(i+1);
				})
			}
		})

		function text(currentFileCount) {
			list = "<div class='line-each-form'>"
			list += "<div class='line-sortable'><span class='sortable-handle'>■</span></div>"
			list += "<table class='line-form'>"
			list += "<tr><th><label for='id_line_set-" + currentFileCount + "-category'>所属カテゴリー:</label></th><td><select name='line_set-" + currentFileCount + "-category' id='id_line_set-" + currentFileCount + "-category'>"
			  
			$.each(categories, function(name, categoryid) {
			  list += "<option value='" + categoryid + "'>" + name + "</option>"
			})

			list += "</select></td></tr>"
			list += "<tr><th><label for='id_line_set-" + currentFileCount + "-formal_name'>路線名(鉄道要覧):</label></th><td><input type='text' name='line_set-" + currentFileCount + "-formal_name' maxlength='200' id='id_line_set-" + currentFileCount + "-formal_name'></td></tr>"
			list += "<tr><th><label for='id_line_set-" + currentFileCount + "-name'>路線名:</label></th><td><input type='text' name='line_set-" + currentFileCount + "-name' maxlength='200' id='id_line_set-" + currentFileCount + "-name'></td></tr>"
			list += "<tr><th><label for='id_line_set-" + currentFileCount + "-name_sub'>路線区別名:</label></th><td><input type='text' name='line_set-" + currentFileCount + "-name_sub' maxlength='200' id='id_line_set-" + currentFileCount + "-name_sub'></td></tr>"
			list += "<tr><th><label for='id_line_set-" + currentFileCount + "-sort_by_company'>事業者ごとの並び順:</label></th><td><input type='text' name='line_set-" + currentFileCount + "-sort_by_company' value='0' class='sort_by_company' id='id_line_set-" + currentFileCount + "-sort_by_company'></td></tr>"
			list += "<tr><th><label for='id_line_set-" + currentFileCount + "-is_freight'>貨物輸送:</label></th><td><input type='text' name='line_set-" + currentFileCount + "-is_freight' maxlength='200' id='id_line_set-" + currentFileCount + "-is_freight'></td></tr>"
			list += "<tr><th><label for='id_line_set-" + currentFileCount + "-prefs'>Prefs:</label></th><td><select name='line_set-" + currentFileCount + "-prefs' id='id_line_set-" + currentFileCount + "-prefs' multiple>"

			$.each(prefs, function(name, prefid) {
			  list += "<option value='" + prefid + "'>" + name + "</option>"
			})

			list += "</select></td></tr>"
			list += "<tr><th><label for='id_line_set-" + currentFileCount + "-status'>状態:</label></th><td><select name='line_set-" + currentFileCount + "-status' id='id_line_set-" + currentFileCount + "-status'>"

			list += "<option value='0' selected>運用中</option>"
			list += "<option value='1'>運用前</option>"
			list += "<option value='2'>廃止</option>"

			list += "</select><input type='hidden' name='line_set-" + currentFileCount + "-company' value='' id='id_line_set-" + currentFileCount + "-company'><input type='hidden' name='line_set-" + currentFileCount + "-id' id='id_line_set-" + currentFileCount + "-id'></td></tr>"
			list += "</table></div>"

			return list;
		}
	})
</script>
{% endblock %}