<head>
	<link rel='stylesheet' href="http://cdn.rawgit.com/JeremyFagis/dropify/master/dist/css/dropify.css" />
	<script src="http://cdn.rawgit.com/JeremyFagis/dropify/master/dist/js/dropify.js"></script>
</head>
<body>

<h3>駅情報アップロード</h3>

<form action="{% url 'stationdata:uploadCountry' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">国アップロード</button>
</form>

<form action="{% url 'stationdata:uploadRegion' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">地方アップロード</button>
</form>

<form action="{% url 'stationdata:uploadPrefecture' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">都道府県アップロード</button>
</form>

<form action="{% url 'stationdata:uploadCompanyCategory' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">事業者カテゴリーアップロード</button>
</form>

<form action="{% url 'stationdata:uploadCompany' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">事業者アップロード</button>
</form>

<form action="{% url 'stationdata:uploadLine' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">路線アップロード</button>
</form>

<form action="{% url 'stationdata:uploadStation' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">駅アップロード</button>
</form>

<form action="{% url 'stationdata:uploadLineService' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">路線(運行系統)アップロード</button>
</form>

<form action="{% url 'stationdata:uploadStationService' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">駅(運行系統)アップロード</button>
</form>

<form action="{% url 'stationdata:stationgroupset' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">駅(正式区間)グループコードアップロード</button>
</form>

<form action="{% url 'stationdata:stationservicegroupset' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">駅(運行系統)グループコードアップロード</button>
</form>

<form action="{% url 'stationdata:CompanyDelete' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">事業者全削除</button>
</form>

<form action="{% url 'stationdata:LineDelete' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">路線全削除</button>
</form>

<form action="{% url 'stationdata:StationDelete' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">駅全削除</button>
</form>

<form action="{% url 'stationdata:LineServiceDelete' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">路線(運行系統)全削除</button>
</form>

<form action="{% url 'stationdata:StationServiceDelete' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">駅(運行系統)全削除</button>
</form>

<form action="{% url 'stationdata:ErrorListDelete' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type='file' class="dropify" data-default-file="ファイル選択" name="csv">
	<button type="submit" class="btn" name="button">エラーリスト全削除</button>
</form>