{% extends 'moviedatabase/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'moviedatabase/setting.css' %}">
	<form action="" method="POST">
		<div class="background">
			<div class="vocal_container" style="display: flex;">
				<div class="vocal">
					<select name="vocal" id="id_vocalnew" size="18">
						{% for vocal in vocals %}
						<option value="{{ vocal.pk }}" class="vocal-option">{{ vocal }}</option>
						{% endfor %}
					</select>
					<br><a href="javascript:void(0);" onclick="window.open('{% url 'songdata:popup_vocal_create' %}', 'subwin2', 'width=500,height=500');">+Vocal</a>
				</div>
				<div id="selected-vocal-container">
					<h3>選択済みリスト</h3>
					<div id="selected-vocal-div-list">
					</div>
				</div>
				<input type="hidden" name="selected-vocal-list" id="selected-vocal-list" value="">
			{% csrf_token %}
			</div>
			<div class="submit-banner">
				<div class="submit-banner-inner">
					<div class="submit-content">
						<div class="submit-form-status">
						</div>
						<button onclick="submit();" class="submit-button">決定</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- ボーカル追加の子ウィンドウで使用 -->
	<div id="is-vocal-setting"></div>
{% endblock %}
{% block extrajs %}
	<script type="text/javascript">
		selected_vocals = []
		
		window.onload = function() {

			opener_vocals = window.opener.$('.selected_vocalnew')

			// 親ウィンドウの存在チェック
			if (!window.opener || window.opener.closed || !opener_vocals) {
				console.log('There is no window opener');
			} else {
				// 親ウィンドウのartistのセレクトボックスが何か選択された状態で、かつ子ウィンドウのartistが何も選択されていない状態
				// 後者：子ウィンドウのアーティストが選択されているのに変更されてしまうのを防ぐ
				if (opener_vocals) {
					opener_vocals.each(function(i, val) {
						vocal_append(val.value)
					})
				}
			}

			$(document).on('dblclick', '.vocal-option', function() {
				vocal_append($(this).val())
			})

			$(document).on('click', '.delete-button', function() {
				div = $(this).parent('.selected-vocal')
				div.hide();

				val = div.data("id");
				const new_selected_vocals = selected_vocals.filter(n => n !== String(val));
				selected_vocals = new_selected_vocals
				$('#selected-vocal-list').val(selected_vocals);
			})

		}

		function vocal_append(val) {
			selected_vocals.push(val);
			$('#selected-vocal-list').val(selected_vocals);

			vocal = $('select#id_vocalnew option[value="'+val+'"]')
			name = $(vocal).text();
			$('#selected-vocal-div-list').append("<div class='selected-vocal' data-id='"+val+"'><p>"+name+"</p><a class='delete-button'><i class='fas fa-times'></i></a></div>");

			console.log($('#selected-vocal-list').val())
		}

		function add_vocalnew(name, pk, artist) {
			var select = document.getElementById('id_vocalnew');
			var option = document.createElement('option');
			option.setAttribute('value', pk);
			option.setAttribute('class', 'vocal-option')
			option.innerHTML = name;

			select.add(option, 0);
			select.options[0].selected = true;
		}
	</script>
{% endblock %}