body {
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "Noto Sans Japanese", Meiryo, メイリオ, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	letter-spacing: calc(33em / 1000);
}

* {
	box-sizing: border-box;
	word-wrap: break-word;
	line-height: 1.5em;
	margin: 0;
	/*padding: 0;*/
}

a {
	text-decoration: none;
	color: #cc5c00;
	transition: all .3s
}

a:hover {
	color: #ad896b;
}

a, button {
	color: inherit;
	font-weight: inherit;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

select, input {
	font: inherit;
	font-weight: normal;
}

input:focus {
	border: 0;
	outline: 0;
}

.movie-background {
	background-color: #cc5c00;
	color: #fff;
}

.movie-color {
	color: #cc5c00;
}

.movie-border {
	border-color: #cc5c00;
}

.railway-background {
	background: #007a7a;
	color: #fff;
}

.railway-color {
	color: #007a7a;
}

.railway-border {
	border-color: #007a7a;
}

.line-background {
	background: #0e3389;
	color: #fff;
}

.line-color {
	color: #0e3389;
}

.line-border {
	border-color: #0e3389;
}

.station-background {
	background: #00a300;
	color: #fff;
}

.station-color {
	color: #00a300;
}

.station-border {
	border-color: #00a300;
}

.station-pastel-background {
	background: #008500;
	color: #fff;
}

.station-pastel-color {
	color: #008500;
}

.station-pastel-border {
	border-color: #008500;
}

.white-background {
	background: #fff;
	color: #06262b;
}

.white-color {
	color: #fff;
}

.white-border {
	border-color: #fff;
}

.black-background {
	background: #06262b;
	color: #fff;
}

.black-color {
	color: #06262b;
}

.black-border {
	border-color: #06262b;
}

.black-border-all {
	border: 4px solid #06262b;
}

.gray-background {
	background: #abbec1;
	color: #fff;
}

.gray-color {
	color: #abbec1;
}

.gray-border {
	border-color: #abbec1;
}

.creator-background {
	background: #a3005c;
	color: #fff;
}

.creator-color {
	color: #a3005c;
}

.creator-border {
	border-color: #a3005c;
}

.name-background {
	background: #a3005c;
	color: #fff;
}

.name-color {
	color: #a3005c;
}

.name-border {
	border-color: #a3005c;
}

.channel-background {
	background: #c00;
	color: #fff;
}

.channel-color {
	color: #c00;
}

.channel-border {
	border-color: #c00;
}

.twitter-background {
	background: #00acee;
	color: #fff;
}

.twitter-color {
	color: #00acee;
}

.twitter-border {
	border-color: #00acee;
}

.music-background {
	background: #c80;
	color: #fff;
}

.music-color {
	color: #c80;
}

.music-border {
	border-color: #c80;
}

.artist-background {
	background: #cc0;
	color: #fff;
}

.artist-color {
	color: #cc0;
}

.artist-border {
	border-color: #cc0;
}

.song-background {
	background: #cca900;
	color: #fff;
}

.song-color {
	color: #cca900;
}

.song-border {
	border-color: #cca900;
}

.vocal-background {
	background: #5a0788;
	color: #fff;
}

.vocal-color {
	color: #5a0788;
}

.vocal-border {
	border-color: #5a0788;
}

.header-container {
	margin: 0;
	padding: 0;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0,0,0,.3);
	background-color: #fff;
	z-index: 10000;
	position: relative;
}

.header {
	margin: 0 auto;
	padding: 0;
	display: flex;
	width: 100%;
	max-height: 96px;
	/*max-width: 1280px;*/
	justify-content: space-between;
}

.header-title a {
	display: block;
	/*padding: 1rem;*/
	/*background-color: #cc5c00;*/
	color: #fff;
	/*height: 100%;*/
}

.header-logo {
	display: block;
	height: 96px;
	transition: all .3s;
}

.header-logo-sp {
	display: none;
}

.header-logo:hover {
	opacity: 0.8;
}

.header-content {
	flex: 1;
}

.header-content-upper {
	width: 100%;
	background-color: #338a9e;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0.4rem;
	color: #fff;
	font-weight: normal;
	font-size: 0.9rem;
	height: 32px;
}

.mypage {
	color: #fff;
	margin: 0 1rem;
}

.login-out {
	padding: 0 1rem;
}

.login-out-button {
	background-color: #fff;
	color: #338a9e;
	border-radius: 1rem;
	margin: 0 0.5rem;
	padding: 0.1rem 0.5rem;
}

.header-content-lower {
	height: 64px;
}

.header-menu {
	display: flex;
	justify-content: flex-end;
}

.header-menu-li a {
	display: block;
	padding: 0.5rem 0;
	color: #06262b;
	transition: all .3s;
	background-color: #fff;
}

.header-menu-li-a-inner {
	border-left: 1px solid #ccc;
	padding: 1rem 2rem;
}

.header-menu-li-a-inner p {
	border-bottom-width: 4px;
	border-bottom-style: solid;
	line-height: 0.8
}

.header-menu-li a:hover {
	background-color: #f7f7f7;
}

.header-search-title {
	padding: 0 1rem 0 0;
}

.header-search-form {
	position: relative;
	height: 1.2rem;
	width: 10rem;
	margin: 0 2rem 0 0;
}

.header-search-container .header-search-form {
	margin: 0;
}

.header-search-box {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.8rem;
	width: 100%;
	height: 100%;
	padding: 0 2rem 0 1rem;
	background: #fff;
	border-radius: 0.6rem;
	border: none;
}

.header-search-button {
	position: absolute;
	top: 0;
	right: 0.3rem;
	height: 100%;
	background: none;
	color: #666;
	border: none;
	font-size: 0.8rem;
	transition: all .3s;
	cursor: pointer;
}

.header-search-button:hover{
	color:#7fbfff;
}

@media (max-width: 768px) {
	.header {
		flex-wrap: wrap;
		background: #cc5c00;
	}

	.header-title {
		text-align: center;
		width: 100%;
		height: 48px;
		padding: 0;
		margin: 0;
	}

	.header-title > a {
		height: 100%;
	}

	.header-logo {
		display: none;
	}

	.header-logo-sp {
		display: inline;
		height: 100%;
	}

	.header-content-upper {
		display: none;
	}

	.header-menu-li {
		flex: 1;
		text-align: center;
	}

	.header-menu-li-a-inner {
		padding: 4px;
		font-size: 0.8rem;
	}

	.header-menu-li-a-inner p {
    	border-bottom-width: 2px;
	}
}

.footer {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #232323;
	color: #fff;
}

.footer a {
	color: inherit;
}

.footer a:hover {
	opacity: 0.8;
}

.footer-inner {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
}

.footer-inner > li {
	flex: 1;
	padding: 1rem;
}

.footer-inner > li > h5 {
	margin: 0 0 0.5rem 0;
	color: #ccc;
}

.footer-inner > li > ul {
	padding-left: 1rem;
	font-weight: normal;
	border-left: #ccc 1px solid;
}

.footer-lower {
	padding: 0.5rem;
	text-align: center;
	background-color: #333;
	color: #ccc;
	font-weight: normal;
	font-size: 0.8rem;
}

@media (max-width: 768px) {
	.footer-inner {
		font-size: 0.8rem;
		display: block;
	}
}