.station-list {
	margin: 0 0 1.0rem 0;
	font-size: 1.0rem;
}

.station-list a {
	color: #333;
}

.key-station {
	position: relative;
}

.key-station-end {
	margin-bottom: 1.0em;
}

.key-station a {
	background: #f0f2f4;
	padding: 0.5em 0.5em 0.5em 3.0em;
	display: block;
}

.key-station:hover {
	opacity: 0.8;
}

.key-station-icon {
	position: absolute;
	width: 1.0em;
	height: 1.0em;
	border-radius: 50%;
	z-index: 200;
	left: 1.5em;
	top: 50%;
	background: #fff;
	/*border: 1px solid #333;*/
	transform: translate(-25%, -50%);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.9);

}

.station-before,
.station-after,
.line-before,
.line-after {
	position: absolute;
	width: 0.5rem;
	height: 50%;
	left: 1.5rem;
	background: #333;
	z-index: 180;
}

.station-before,
.line-before {
	top: 0;
}

.station-after,
.line-after {
	bottom: 0;
}

.line-box {
	position: relative;
	top: 0;
	background: #fff;
	z-index: 900;
	padding: 0 0 0 3.0em;
	font-weight: bold;
	font-size: 0.9em;
	display: flex;
}

.line-box a {
	display: flex;
	align-items: center;
	padding: 1.0em 0;
	width: 90%;
}

.line-box a:hover {
	opacity: 0.8;
}

.line-button-container {
	padding: 0 0.5rem 0 2rem;
	display: flex;
	align-items: center;
}

.line-button {
	z-index: 300;
	font-size: 0.7rem;
	transition: all .3s;
	transform-origin: 50% 50%;
	transform: rotate(180deg);
}

.open-button {
	transform: rotate(90deg);
}

.line-icon {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
	text-align: center;
}

.line-icon img {
	width: 100%;
	border-radius: 50%;
}

.line-icon i:before {
	font-size: 1.2em;
	line-height: 1.2em;
	vertical-align: middle;
}

.station-ul {
	display: none;
}

.station-name {
	position: relative;
}

.station-name a {
	font-size: 0.9em;
	padding: 0 0 0 3.0em;
	display: block;
	width: 100%;
	height: 100%;
	transition: transform 0.1s;
}

.station-name a:hover {
	transform: translate(8px, 0);
}

.station-name:last-child a {
	padding: 0 0 0.5em 3.0em;
}

.movie-station-list {
	width: 40%;
	padding: 0.5em;
}

.movie-line-name {
	background-color: #1cb1c4;
	color: #fff;
	padding: 4px 0.5em;
	margin: 0.5em 0;
	position: relative;
	top: 0;
	cursor: pointer;
}
/*
.station-name {
	padding: 0;
	color: rgba(0,0,0,0.6);
}*/

.station-name:hover {
	color: #1cb1c4;
}

.parody-edge {
	width: 100%;
	height: 0.5em;
	background: #f0f2f4;
}

.parody-edge-end {
	margin-bottom: 16px;
}

.parody-station {
	padding-left: 1.5em;
}

.parody-station > a {
	padding: 2px 0 2px 1.0em;
	display: block;
	border-left: 0.5em solid #333;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.parody-station:first-child > a {
	padding: 0.5em 0 2px 1.0em;
}

.parody-station:last-child > a {
	padding: 2px 0 0.5em 1.0em;
}

.parody-station-name {
	white-space: nowrap;
	font-size: 0.9em;
}

.parody-line-name {
	font-size: 0.8em;
	text-align: right;
	width: 100%;
	padding: 0 0.5em 0 2.0em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.parody-pref-name {
	font-size: 0.8em;
	padding-left: 0.5em;
	min-width: 5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
	max-width: 30%;
}