body {
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "Noto Sans Japanese", Meiryo, メイリオ, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	letter-spacing: calc(33em / 1000);
}

* {
	box-sizing: border-box;
	word-wrap: break-word;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #1cb1c4;
}

a. button {
	color: inherit;
	font-weight: inherit;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
}

ul, li {
	list-style: none;
}

.background {
	background: #180556;
	background-position: center center;
	position: relative;
	z-index: 0;
	/*overflow: hidden;*/
	padding: 0;
	margin: 0;
	min-height: 100vh;
}

.main-container {
	max-width: 1080px;
	padding: 32px;
	margin: 0 auto;
	background: white;
}

.exo-upload-header {
	text-align: center;
	font-size: 1.8rem;
	padding: 2rem 0 0 0;
}

.title-line {
	width: 4rem;
	text-align: center;
	margin: 0 auto;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

.exo-upload-notice {
	width: 100%;
	max-width: 512px;
	margin: 2rem auto;
	padding: 0 2rem;
	text-align: center;
	font-weight: normal;
}

.exo-upload-form-container {
	margin: 2rem auto;
	width: 512px;
}

.exo-upload-form-info {
	display: inline-block;
	color: #fff;
	background-color: #230b73;
	padding: 0.2rem 0.4rem;
	position: relative;
	font-weight: normal;
}

.exo-upload-form-area {
	width: 100%;
	position: relative;
	background-color: #fff;
	padding: 0.4rem;
	border: 1px solid #230b73;
}

.exo-upload-form-lower {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.exo-upload-form-status {
	margin: 1rem;
	font-size: 0.9rem;
	font-weight: normal;
	color: #cc0000;
	flex: 1;
}

.exo-upload-button {
	border: 2px solid #2e108c;
	margin: 0.5rem 0 0 auto;
	padding: 0.6rem 0.8rem;
	color: #fff;
	background-color: #2e108c;
	cursor: pointer;
	border-radius: 0.4rem;
	font: inherit;
	transition: all .3s;
}

.exo-upload-button:hover {
	background-color: #fff;
	color: #2e108c;
}

#determined-layer-area {
	overflow-x: scroll;
}

.exo-upload-h3 {
	text-align: center;
	font-size: 1.2rem;
	padding: 2rem 0 0 0;
}

#timeline,
#determined-timeline {
	font-size: 0.8rem;
}

.timeline-content {
	width: 100%;
	height: 30em;
	overflow-x: hidden;
	overflow-y: scroll;
	display: flex;
}

.determined-timeline-content {
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	display: flex;
}

.layer-row {
	height: 24px;
	border-bottom: 1px solid #ccc;
	padding: 2px;
	display: flex;
}

.timeline-content-left {
	display: flex;
}

.timeline-header-station,
.timeline-header-line,
.timeline-header-num {
	width: 2rem;
	text-align: center;
}

.timeline-left {
	width: 100px;
}

.timeline-right {
	width: calc(100% - 100px);
	flex: 1;
}

#determined-timeline-content-right-container,
#timeline-content-right-container {
	overflow-x: scroll;
}

.layer-content-area {
	position: relative;
}

.layer-content {
	background: #def;
	position: absolute;
	overflow: hidden;
	font-weight: normal;
	white-space: nowrap;
}

.layer-content-text {
	background: #5af;
}

.layer-header {
	width: 6rem;
}

.layer-determine-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.layer-determine-form-status {
	margin: 1rem;
	font-size: 0.9rem;
	font-weight: normal;
	color: #cc0000;
	flex: 1;
}

.layer-determine-button {
	border: 2px solid #2e108c;
	margin: 0.5rem;
	padding: 0.6rem 0.8rem;
	color: #fff;
	background-color: #2e108c;
	cursor: pointer;
	border-radius: 0.4rem;
	font: inherit;
	transition: all .3s;
}

.layer-determine-button:hover {
	background-color: #fff;
	color: #2e108c;
}

.station-line-table-area {
	margin: 2rem 0 8rem 0;
}

#station-line-table {
	margin: 0 auto;
}

.station-line-sortable {
	display: flex;
	align-items: center;
	padding: 4px;
}

.sortable-handle {
	cursor: move;
}

.station-line-delete {
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

.sortable-delete i {
	color: #fff;
	background-color: #d51111;
	border: 2px solid #d51111;
	padding: 2px;
	border-radius: 4px;
	cursor: pointer;
}

.sortable-delete i:hover {
	color: rgb(213, 17, 17);
	background-color: rgb(255, 255, 255);
}

/*送信ボタン*/
.submit-banner {
	position: sticky;
	bottom: 0;
	width: 100%;
	background-color: white;
	box-shadow: 0 -2px 8px 0px rgba(0, 0, 0, 0.4);
}

.submit-banner-inner {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 1rem 2rem;
}

.submit-content {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.submit-form-status {
	font-weight: normal;
	font-size: 0.9rem;
	color: #cc0000;
	flex: 1;
}

.submit-button {
	margin: 0;
	padding: 0.6rem 1.2rem;
	color: #fff;
	border-radius: 0.4rem;
	font: inherit;
	display: block;
}

.submit-button:disabled {
	border: 2px solid #ccc;
	background-color: #ccc;
}

.submit-button:enabled {
	border: 2px solid #3846ac;
	background-color: #3846ac;
	cursor: pointer;
	transition: all .3s;
}

.submit-button:enabled:hover {
	background-color: #fff;
	color: #3846ac;
}

/*モーダルウィンドウ*/
#modal-content {
	display: none;
	min-width: 50%;
	padding: 2rem;
	background-color: #fff;
	z-index: 4;
	position: fixed;
}

#modal-overlay {
	z-index: 3;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background-color: rgba(0, 0, 0, 0.7);
}