.object-list {
	width: 64%;
}

.object-list-header {
	font-size: 1.4em;
	margin: 0 0 1rem 0;
	padding: 0.5rem 1rem;
	border-left-width: 0.25rem;
	border-left-style: solid;
}

.object-list-ul {
	margin: 0 0 2rem 0;
	padding: 0;
}

.object-list-li a {
	display: block;
	padding: 0.25rem 1.5rem;
	font-size: 1.0em;
	border-bottom: 1px solid #ddd;
	transition: all .3s;
	display: flex;
	justify-content: space-between;
}

.object-list-li a:hover {
	background: #f7f7f7;
	padding-left: 2rem;
}

.object-list-ul-block {
	margin: 0 0 2rem 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.object-list-li-block {
	width: 33%;
	padding: 0.5rem;
	text-align: left;
}

.object-list-li-block a {
	display: block;
	width: 100%;
	padding: 1.5rem 0 1.5rem 1.5rem;
	font-size: 1.2em;
	transition: all .3s;
}

.object-list-li-block a:hover {
	background: #f7f7f7;
}

.object-dict-outer {
	margin: 0 0 2rem 0;
	padding: 0;
	justify-content: flex-start;
}

.object-dict-outer-li {
	margin-bottom: 0.5rem;
	background-color: #eee;
}

.object-dict-header a {
	display: block;
	font-size: 1.0em;
	margin: 0;
	padding: 0.25rem 1rem;
	border: 0.25rem solid #06262b;
	background-color: #06262b;
	color: #fff;
	transition: all .3s;
}

.object-dict-header a:hover {
	background-color: #fff;
	color: #06262b;
}

.object-dict-inner {
	margin: 0;
	padding: 0 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.object-dict-inner-li {
	padding: 1rem;
	text-align: left;
}

.object-dict-inner-li a {
	display: block;
	width: 100%;
	font-size: 1.0em;
	transition: all .3s;
}

.object-dict-inner-li a:hover {
	/*color: #f7f7f7;*/
}

.initial-list {
	position: relative;
	margin: 0 0 2rem 0;
	font-size: 0.9rem;
}

.initial-col,
.initial-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.initial-button {
	position: relative;
	display: block;
	width: auto;
	min-width: 2.0rem;
	margin: 0.3rem;
	padding: 0.5rem 0.6rem;
	font-size: 0.9rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
	transition: color .25s,background-color .25s;
	box-shadow: 0 2px 0.25rem rgba(0,0,0,.1), 0 0.25rem 0.25rem -0.25rem rgba(0,0,0,.1);
}

span.initial-button {
	background: #d3d3c6;
}

.initial-row .initial-button {
	padding: 0.5rem 1.5rem;
}

a.initial-button:hover {
	background-color: #06262b;
	color: #fff;
}

@media (max-width: 768px) {
	.object-list {
		width: 100%;
		margin-bottom: 2rem;
	}

	.detail-side {
		width: 100%;
	}

	.initial-row {
		flex-wrap: nowrap;
	}

	.initial-row .initial-button {
		text-align: center;
		width: 100%;
		padding: 0.4rem 0;
	}
}